<table style="width:100%; font-family:Arial; font-size:18px;">
	<tr style="padding:0px; background-color:#c2e5fc; color:#000000;">
		<td style="text-align:left;">
		  	<b>{{ 'Tu comentario'|trans }}:</b>
		</td>
	</tr>
	<tr style="padding:10px; background-color:#F9FCFE; color:#000000;">
		<td style="text-align:left;">
		  	{{ comment }}
		</td>
	</tr>
	<tr style="padding:10px; background-color:#c2e5fc; color:#000000;">
		<td style="text-align:left;">
		  	<b>{{ 'La respuesta al comentario'|trans }}:</b>
		</td>
	</tr>
	<tr style="padding:10px; background-color:#F9FCFE; color:#000000;">
		<td style="text-align:left;">
		  	{{ response }}
		</td>
	</tr>
</table>