{% extends '::admin.html.twig' %}

{% block body %}

<div class="row align-items-center justify-content-between">
    <div class="col-12 col-sm-12 page-title">
        <h3>{{ 'Participantes por Empresa:'|trans }}</h3>
    </div>
    <div class="col text-right">
        <a href="{{ path('_usuario')}}" class="bttn__nr"><span class="fa fa-plus" style="margin-top: 8px;"></span><span class="text__nr">{{ 'Nuevo Registro'|trans }}</span></a>
    </div>
</div>

{% endblock %}