{% extends '::pdf.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header gradiente">
            <h5 class="card-title">{{ titulo }}</h5>
        </div>
        <div class="card-block">
            <img src="{{ src }}" alt="Formación Smart" width="1000">
        </div>
    </div>
{% endblock %}