/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/app/config/config.yml
/app/config/parameters.yml
!/docs/prototipos/front/styles/.sass-cache
/docs/prototipos/front/styles/.sass-cache/*
!/docs/prototipos/front/styles/sass/.sass-cache
/docs/prototipos/front/styles/sass/.sass-cache/*
!web/error_log
web/error_log
!/docs/prototipos/front/.sass-cache
/docs/prototipos/front/.sass-cache/*
!/docs/prototipos/front/client_styles/formacion/.sass-cache
/docs/prototipos/front/client_styles/formacion/.sass-cache/*
!/web/front/.sass-cache/
/web/front/.sass-cache/*
!/web/.sass-cache/
/web/.sass-cache/*
/web/front/client_styles/[1-9]*
/node_modules/*
.phpintel
