<div class="d-flex flex-column">
    <div class="wrapperDdNotify">
        <a href="#" id="notify">
            <div class="notify">
                <i class="material-icons mr-3 color-light-grey">notifications</i>
                <div class="sonar"></div>
            </div>
        </a>
        <span class="markNotify"></span>
        <ul class="dropDownNotify">
            <a href="#">
                <li class="AnunListNotify notiSinLeer">
                    <div class="anunNotify">
                        <span class="stickerNotify anunSticker"><i class="material-icons icNotify">volume_down</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li class="AnunListNotify notiSinLeer">
                    <div class="anunNotify">
                        <span class="stickerNotify notiSticker"><i class="material-icons icNotify">library_books</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <a href="#" data-toggle="modal" data-target="#modalMn">
                <li class="AnunListNotify">
                    <div class="anunNotify">
                        <span class="stickerNotify muroSticker"><i class="material-icons icNotify">mail</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li class="AnunListNotify notiSinLeer">
                    <div class="anunNotify">
                        <span class="stickerNotify ectSticker"><i class="material-icons icNotify">speaker_notes</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li class="AnunListNotify">
                    <div class="anunNotify">
                        <span class="stickerNotify ecpSticker"><i class="material-icons icNotify">insert_comment</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li class="AnunListNotify">
                    <div class="anunNotify">
                        <span class="stickerNotify calenSticker"><i class="material-icons icNotify">event_note</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <a href="#">
                <li class="AnunListNotify">
                    <div class="anunNotify">
                        <span class="stickerNotify biblioSticker"><i class="material-icons icNotify">import_contacts</i></span>
                        <p class="textNotify text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</p>
                    </div>
                </li>
            </a>
            <li class="listMoreNotify text-center">
                <a href="#"><span class="moreNotify"><i class="material-icons icMore">add</i>Ver más</span></a>
            </li>
        </ul>
    </div>
</div>