<p>
Estimado usuario, a continuación le enviamos el login y la clave a través de la cual usted podrá acceder a nuestros servicios en línea. Esperamos que pueda acceder a nuestros servicios sin dificultad.
</p>

<p>
<b>Usuario:</b> {{ usuario }}<br>
<b>Clave:</b> {{ clave }}
</p>

<p>
No reenvíe este mensaje a otros destinatarios por su propia seguridad, tampoco responda este correo electrónico.
</p>