<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plantilla de formato de envio de correo</title>
    <style>
        
    </style>
</head>
<body>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background: #f7f7f7; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td align="center" style="font-family: Arial,sans-serif;"> 
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px; border-radius: 25px; background: #fff; margin: 2% auto; box-shadow: 5px 5px 20px rgba(121, 125, 128, .3)">
                            <tbody>
                                <tr>
                                    <td align="left" style="padding-top: 20px; padding-bottom: 20px; background: rgba(92, 174, 230, .5); border-radius: 25px 25px 0 0">
                                        <a href="#" style="padding: 0;">
                                            <img src="../../../../../../web/img/logo_formacion.png" style="height: auto; width: 175px; position: relative; left: 1rem" alt="">
                                        </a>
                                    </td>
                                </tr>
                                <tr style="background: url(assets/img/decorate_qr.svg) no-repeat top right;">
                                    <td align="justify" style="padding: 10% 5%;">
                                        <p style="font-size: 14px; padding-top: 25px; padding-bottom: 25px; width: 70%; color: #383838; line-height: 22px; font-weight: 100;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                                    </td>
                                </tr>
                                <tr>
                                   <!--  <td align="center" style="padding-bottom: 25px; padding-top: 25px">
                                        <a style="background-color: #3D93CC; border-radius: 20px; display: inline-block; font-family: Arial,sans-serif; color: #ffffff; font-size: 14px; font-weight: bold; line-height: 15px; text-align: center; text-decoration: none; width: 175px; border-top: 12px solid #3D93CC; border-bottom: 12px solid #3D93CC; text-transform: uppercase; box-shadow: 1px 3px 1px #002E4D; cursor: pointer;">Continuar</a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>