/*CAJITA DE NOTIFICACIONES*/

.notification-box {
    position: fixed;
    top: 5rem;
    right: 0.7rem;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    button.close {
        height: 94%;

        &:focus, &:active {
            outline: none;
        }
    }
}

/*NOTIFICACIONES DEL RANKING*/

.notification-ranking {
    padding-left: 7rem;
    overflow: hidden;
    background-color: #cfe65c;
    &__image {
        margin-right: 0.3rem;
        position: absolute;
        left: -3rem;
        filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.2));
    }

    &__text {
        position: relative;
        z-index: 10;
        padding: 0.3rem;
        border-radius: 9px;
        font-weight: 500;
    }
}