// Estilos botones

.btn-primary{
    color: $gray-300;
    background-color: $blue;
    border-color: $blue;

    &:hover{
        background-color: $bluedark;
        border-color: $bluedark;
    }
}

.btn-continuar{
    color: $gray-700;
    background-color: $yellow;
    border: 0px;
    &:hover {
        color: $gray-700;
        background-color: #ffd43a;
        border-color: #ffd12d;
    }

}

.btnAp{
    background: $green;
    border: 0px;
    color: $gray-100;
    font-family: $lessons-font;
    font-weight: $font-weight-normal;
    &:hover{
        background: $blue;
    }
}

.btn-edge{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100px;
    padding-top: 8px;
    font-family: $primary-font;
    transition: .5s;
    color: $gray-500;
}

.btn-certificado {
    left: 0;
    border-radius: 0 0 0px calc(1.25rem - 4px);
    font-size: .9rem;
    &:hover{
        background-color: $gray-150;
        text-decoration: none;
        color: $green;
    }
}

.btn-notas {
    border-radius: 0 0  calc(1.25rem - 4px) 0;
    font-size: .9rem;
    &:hover{
        background-color: $gray-150;
        text-decoration: none;
        color: $green;
    }
}

.btn-ver{
    right: 0;
    border-radius: 0 0 0px calc(1.25rem - 4px);
    font-size: .9rem;
    &:hover{
        background-color: $gray-150;
        text-decoration: none;
        color: $green;
    }
}

.btn_sp1{
    padding: calc(1.25rem - 8px) calc(1.5rem - 5.84px);
    background: linear-gradient(to left, $blue 0%, $blue 100%) !important;
    border-radius: 2rem;
    position: relative;
    top: calc(1rem + 8px);
    transition: all .25s ease-in-out;
    color: $white;
    @include media-breakpoint-down(sm){
        top: -.5rem;
    }
    @include media-breakpoint-down(xxs){
        top: -2rem;
    }
    &:hover{
        background: linear-gradient(to right, $blue 0%, $bluedark 100%) !important;
        color: $white;
    }
}

.btn_sp2{
    padding: calc(1.25rem - 8px) calc(1.5rem - 5.84px);
    background-color: $yellow !important;
    border-radius: 2rem;
    position: relative;
    top: calc(1rem + 8px);
    transition: all .25s ease-in-out;
    color: $gray-700;
    @include media-breakpoint-down(sm){
        top: -.5rem;
    }
    @include media-breakpoint-down(xxs){
        top: calc(2rem + 8px);
    }
    &:hover{
        background-color: $yellow !important;
        color: $gray-800;
    }
}

.btn-search{
    position: absolute;
    height: 2.6rem;
    top: .07rem;
    right: 1.07rem;
    border: 0px;
    background: transparent;
    border-radius: 0 .5rem .5rem 0;
    &:focus{
        outline: 0;
    }
    .ic-search{
        margin-top: .5rem;
        cursor: pointer;
        color: $gray-400;
    }
}

.bttn_fm{
    @extend %bttn;
    color: $gray-700;
}

.btn-dl{
    padding: .3rem 1.5rem .5rem 1.5rem;
    text-align: center;
    .ic-dl{
        position: relative;
        top: .5rem;
        left: 0;
    }
}

.btnRepeatEval{
    margin-top: 2rem;
    padding: 0;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    box-shadow: 3px 3px 15px rgba(56, 56, 56, .5);
    transition: all .25s ease-out;
    .ic-resul {
        font-size: 5rem;
        color: $blue;
        padding: .5rem;
        transition: all .25s ease-out;
    }
    .alreves {
        transform: scaleX(-1) rotate(5deg);
        transition: all .5s ease-out;
    }
    &:hover{
        background: $yellow;
        .ic-resul{
            color: $gray-700;
        }
        .alreves {
            transform: scaleX(-1) rotate(360deg);
        }
    }
}
//Extend
%bttn{
    font-family: $primary-font;	
    font-weight: $font-weight-normal-hard;		
    text-align: center;
}
