#comments {
    max-height: 0px;
    overflow: hidden;
    background-color: $gray-200;
    transition: max-height .9s;
    
    z-index: 6;
    &::-webkit-scrollbar {
        width: calc(1rem - 8px);
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $green;
        outline: 1px solid $gray-850;
    }
    @include media-breakpoint-down(md) {
        top: 70px;
    }

    // box-shadow: -4px 2px 28px -9px rgba(38,38,38,1);

    &.open-comments {
        max-height: 3000px;
        padding: 24px 24px 128px 24px;
    }

    .caja-comentario {
        max-width: 1000px;
        margin: 32px auto;
    }

    textarea {
        border-radius: 8px;
        border-width: 2px;
        height: 110px;
        padding: 12px;
        font-size: 16px;
        font-family: Roboto;
        max-width: 1000px;
        

    }

    .comment {
        
       
        background-color: white;
        padding: 24px;
        border-radius: 16px;
        max-width: 1000px;
        margin: 32px auto;

        p {
            font-size: 1rem;
            color: $gray-800;
            font-family: 'Roboto';
            margin: .8rem 1.2rem;
        }

        .response  {
            display: flex;
            margin-top: 16px;
            align-items: flex-start;
        }
    }

    #respuesta {
        width: 100%;
        
        padding: 8px;
    }

    .replied {
       margin: 0;
       padding: 16px 0;
       border-top: solid 1px $gray-400;
       border-radius: 0;
    }
    .ic-lke-act{
        color: $blue;
    }
}

#iconComments i:hover {
    color : $blue;
}
