.titulo-ec{
    color: $gray-700;	
    font-family: $primary-font;	
    font-size: $h2-font-size;	
    line-height: calc(3rem - 6px);
    font-weight: $font-weight-normal-hard;
}

.esp_col{
    margin: 1rem auto;
    // width: 62.25rem;
    @include media-breakpoint-down(xl){
        margin: 1rem auto;
    }
    .btn-nw-tema{
        width: 10rem;
        padding: calc(1rem - 8px) 0;
        color: $gray-300;	
        font-family: $primary-font;	
        font-size: calc($p-font-size - 2px);	
        font-weight: $font-weight-easy-medium;	
        line-height: calc(1rem + 3px);	
        text-align: center;
        &:focus{
            outline: none;
        }
    }
}

.subtit_Tuto{
    color: $gray-700;	
    font-family: $primary-font;	
    font-size: $h4-font-size;	
    line-height: calc(2rem - 4px);
}

.textTuto{
    @extend %textTutorial;
    padding-right: .5rem;
}

.dlTuto{
    .textTuto{
        position: relative;
        top: .2rem;
    }
    .btn-dlt{
        font-family: $primary-font;
        padding: .5rem 2rem;
        font-weight: $font-weight-normal;
    }
}

.infoTuto{
    background: $gray-300;
    border-radius: 1rem;
    // padding: 3rem 3rem 2rem 3rem;
    @include media-breakpoint-down(md){
        // padding: 3rem 2rem 2rem 2rem;
    }
    .textInfoTuto{
        @extend %textTutorial;
        .link{
            font-weight: $font-weight-medium;
            &:hover{
                color: $bluedark !important;
            }
        }
    }
}

//Extend

%textTutorial{
    color: $gray-700;	
    font-family: $primary-font;	
    font-size: calc(1rem + 4px);	
    line-height: calc(1rem + 8px);
    @include media-breakpoint-down(md){
        font-size: .9rem;
    }
}