.num_preg{
    color: $gray-700;
    font-family: $primary-font;
    font-size: 3rem;
    line-height: 3.5625rem;
    text-align: center;
    position: relative;
    top: -.5rem;
}

.progress-bar_eval{
    background: $green;
}

.enun{
    display: flex;
    flex-direction: row;
    .enun_eval{
        @extend %enunc;
    }
    .img-enun_eval{
        height: 8rem;
        width: auto;
        margin: 0 1rem;
        border-radius: 1rem;
    }
}

.enun_eval{
        @extend %enunc;
}

//Estilo para seleccion simple
.pdg{
    padding-left: 4.575rem; 
}

.opc{
    width: 26.5rem;
    height: 3rem;
    @extend %opc_sp;
    border: .125rem solid $gray-400;
    transition: all .25s ease;
    &:hover{
        border: .125rem solid $lightblue;
    }
    .opc_letra{
        height: 2.9rem;
        width: 3.30rem;
        background: $lightblue;
        border-radius: calc(1rem - 8px) 0 0 calc(1rem - 8px);
        padding: 0;
        position: relative;
        top: -.075rem;
        left: -.05rem;
        display: inline-block;
        .opc_l{
            line-height: calc($h2-font-size + 4px);
            font-size: $h3-font-size;
            font-family: $primary-font;
            color: $gray-700;
            text-align: center;
            position: relative;
            top: -.2rem;
        }
    }
    .opc_resp{
        display: inline-block;
        position: relative;
        margin: calc(1rem - 2px) 0;
        top: -.4rem;
        .opc_r{
            color: $gray-600;
            padding-left: calc(1rem + 1.85px);
            font-family: $primary-font;
            font-size: $h5-font-size;
            line-height: calc($h4-font-size - 3px);
        }
    }
}

.opc_activa{
    border: .125rem solid $green !important;
    .opc_letra{
        background: $green;
    }
}


//Estilo para seleccion simple imagenes
.elec-resp{
    .opc_img {
    width: 16rem;
    height: 13rem;
    @extend %op_img;
    border-radius: calc(1rem - 8px) calc(1rem - 8px) 0 0;
        .opc_i-3{
            @extend %op_i;
            width: 15.65rem;
            height: 12.8rem;
        }
        .opc_i-4{
            @extend %op_i;
            width: 18.1vw;
            height: 37.9vh;
        }
    }
    .resp-opc {
        width: 16rem;
        height: auto;
        @extend %op_img;
        border-radius: 0 0 calc(1rem - 8px) calc(1rem - 8px);
        padding: calc(1rem - 8px);
        .resp-opc_i-3{
            color: $gray-700;
            font-family: $primary-font;
            font-size: $p-font-size;
            line-height: calc(1rem + 4px);
        }
    }
    &:hover{
        .opc_img{
            border: .1875rem solid $lightblue;
        }
        .resp-opc{
            border: .1875rem solid $lightblue;
        }
    }
}

.elec-resp-asig{
    .opc_img-asig {
        width: 16rem;
        height: 13rem;
        @extend %op_img;
        border-radius: calc(1rem - 8px) calc(1rem - 8px) 0 0;
        .opc_i-3{
            @extend %op_i;
            width: 15.65rem;
            height: 12.8rem;
        }
        .opc_i-4{
            @extend %op_i;
            width: 18.1vw;
            height: 37.9vh;
        }
    }
    .resp-opc {
        width: 16rem;
        height: auto;
        @extend %op_img;
        border-radius: 0 0 calc(1rem - 8px) calc(1rem - 8px);
        padding: calc(1rem - 8px);
        .resp-opc_i-3{
            color: $gray-700;
            font-family: $primary-font;
            font-size: $p-font-size;
            line-height: calc(1rem + 4px);
        }
    }
    &:hover{
        .opc_img-asig{
            border: .1875rem solid $lightblue;
        }
        .resp-opc{
            border: .1875rem solid $lightblue;
        }
    }
}

.opc_activa-img{
    border: .1875rem solid $green !important;
}

//Estilos para preguntas de asignacion
.mgn{
    margin: .5rem 0; 
}

.mgn_img-asig{
    margin: .5rem 0 .5rem 5rem; 
}

.opc_lado-a{
    width: 18.75rem;
    height: 3.75rem;
    position: relative;
    left: 15rem;
    @extend %opc_sa;
    @extend %opc_sac;
    .opc_ra{
        @extend %op_asig;
    }
}

.opc_img_lado-a{
    width: 10rem;
    height: 9rem;
    border-radius: 1rem;
    position: relative;
    left: 0;
    top: .3rem;
    margin-right: 5rem;
    border: .125rem solid $gray-400;
    .img_opc_ra{
        width: 9.778rem;
        height: 8.74rem;
        position: relative;
        left: 0;
        top: 0rem;
        border-radius: calc(1rem - 2px);
    }
    &:hover{
        border: .125rem solid $green !important;
    }
}

.opc_lado-b{
    width: 18.75rem;
    height: 3.75rem;
    @extend %opc_sb;
    @extend %opc_sbc;
    .opc_rb{
        @extend %op_asig;
        margin-left: -1rem;
    }
    &:hover .opc_rb{
        color: $white;
    }
}

//Resultado de evaluaciones

.titulo-resul{
    color: $blue;
    font-family: $primary-font;
    font-size: calc($h1-font-size - 4px);
    line-height: calc($h1-font-size + 7px);
    margin-top: 3rem;
}

.ic-resul{
    font-size: $h1-font-size + 4rem;
    color: $blue;
    margin-top: calc(2rem - 7px);
}

.alreves{
    transform: scaleX(-1) rotate(5deg);
}

.txt-resul{
    font-family: $secondary-font;
    font-size: $h4-font-size;
    line-height: calc(2rem + 1px);
    margin: calc(2rem - 1px) 0 calc(4rem + 4px) 0 ;
}

.mostrar-resul{
    background: $white;
    padding-top: calc(6rem - 6px);
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    overflow-x: hidden !important;
    width: 98.78vw;
    position: relative;
    left: -1rem;
    .calif{
        @extend %cal-log;
        left: 6rem;
        .num{
            @extend %number;
        }
    }
    .logro{
        @extend %cal-log;
        left: -4rem;
        .num{
           @extend %number;
            .unidad{
                color: $blue;	
                font-family: $primary-font;	
                font-size: $h4-font-size;	
                line-height: calc(2rem - 4px);
                margin-left: calc(1rem - 8px);
            }
        }
    }
    .anun-resul{
        margin: calc(2rem + 4px) 0 calc(1rem + 4px) 0;
        color: $gray-650;	
        font-family: $secondary-font;	
        font-size: $p-font-size;	
        line-height: calc(2rem - 8px);
    }
    .resp-eval{
        position: relative;
        left: 13vw;
        margin-bottom: calc(4rem + 4px);
        li{
            list-style-type: none;
            position: relative;
            .preg-aprob{
                @extend %pregunta;
                border: .125rem solid;
                border-color: $green;
                @extend %opc_sp;
                .preg_num-aprob{
                    @extend %num-preg;
                    background: $green;
                }
                .preg_enun{
                    @extend %enun-preg;
                }
            }
            .preg-reprob{
                @extend %pregunta;
                border: .125rem solid;
                border-color: $red;
                @extend %opc_sp;
                .preg_num-reprob{
                    @extend %num-preg;
                    background: $red;
                    .preg_n{
                        color: $white !important; 
                    }
                }
                .preg_enun{
                    @extend %enun-preg;
                }
            }
        }
    }
}
//Extends
%enunc{
    color: $gray-650;
        font-family: $secondary-font;
        line-height: $h4-font-size;
        font-size: $p-font-size;
        text-align: justify;
        margin-top: .25rem;
}

%opc_sp{
    background: $white;
    border-radius: calc(1rem - 8px);
    display: inline-block;
    cursor: pointer;
    margin: .35rem 0;
}

%opc_sa, %opc_sb{
    border-radius: calc(1rem - 8px);
    display: inline-block;
    cursor: pointer;
    margin: .35rem 0;
    transition: all .25s ease;
}

%opc_sac{
    background: $white;
    border: .125rem solid $gray-400;
    &:hover{
        border: .125rem solid $lightblue;
    }
}

%opc_sbc{
    background: $gray-400;
    border: .125rem solid $gray-400;
    &:hover{
        border: .125rem solid $lightblue;
        background: $lightblue;
    }
}

%op_asig{
    color: $gray-600;
    padding-left: calc(1rem + 1.85px);
    font-family: $primary-font;
    font-size: $h2-font-size;
    line-height: calc($h2-font-size + 6px);
}

%op_img{
    border: .1875rem solid $gray-400;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

%op_i{
    border-radius: calc(1rem - 10px);
}

%cal-log{
    font-family: $primary-font;
    font-size: $h3-font-size;
    line-height: calc(2rem + 6px);
    margin-right: calc(3rem + 7px);
    color: $gray-600;
    position: relative;
}

%pregunta{
    width: 52vw;
    height: 8vh;
}

%number{
    color: $blue;	
    font-family: $primary-font;	
    font-size: 2rem;	
    line-height: calc(2rem + 6px);
    position: relative;
    left: calc(1rem + 7px);
    top: .05rem;
}

%num-preg{
    height: 7.5vh;
    width: 4vw;
    border-radius: calc(1rem - 8px) 0 0 calc(1rem - 8px);
    padding: 0;
    position: relative;
    top: 0;
    left: -.2rem;
    display: inline-block;
    .preg_n{
        line-height: calc($h2-font-size + 4px);
        font-size: $h3-font-size;
        font-family: $primary-font;
        color: $gray-700;
        text-align: center;
        position: relative;
        top: 0; 
    }
}

%enun-preg{
    display: inline-block;
    position: relative;
    margin: calc(1rem - 2px) 0;
    top: -.25rem;
    .preg_e{
        color: $gray-600;
        padding-left: calc(1rem + 1.85px);
        font-family: $primary-font;
        font-size: $h5-font-size;
        line-height: calc($h4-font-size - 3px);
    }
}