.lesson-container{

    h2 {
        font-family: $lessons-font;
    }

    p {
        font-family: $lessons-font;
        font-size: 1.1rem;
        line-height: 1.6;
        color: #7b7b7b;
        width: 75%;
        font-weight: 200;
        text-align: left;
        margin: 1.6rem auto;

    }




}

.wraper-nav-less {
    position: relative;
    margin-left: 5%;
    overflow: hidden;
    height: 120px;

    &:hover .btn-lessons {
        opacity: 1;
    }
    .btn-lessons {
        opacity: 0;
        position: absolute;
        top: 60%;
        z-index: 5;
        cursor: pointer;
        transition: 0.4s;
        color: $gray-500;

        &:hover {
            color: $green;
        }
        i {
            font-size: 36px;
        }
    }
    #btnLessLeft {

    }
    #btnLessRight {
        right: 0;
    }
}

.nav-less-container {
    margin-left: 4%;
    margin-right: 4%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 0;

  //   -webkit-overflow-scrolling: touch;
  // -ms-overflow-style: -ms-autohiding-scrollbar;

}
#navlesson {

    &.nav{
        border: none;
        flex-wrap: nowrap;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: start;
        @include media-breakpoint-down(xs) {
            justify-content: start;
            padding-left: 1%;
        }
    }
    &.nav-tabs, .nav-link.active {
        border: none;
    }


    .circle-nav {
        background-color: $gray-400;
        color: $gray-600;
        width: 50px;
        height: 50px;
        margin: 1.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        font-size: 1.4rem;

    }
    a.circle-nav:not(#one-tab):before {
        content: "";
        position: absolute;
        right: 50px;
        top: 22px;
        width: 48px;
        height: 7px;
        border-top: 8px solid $gray-400;
    }

    .circle-less-viendo {
        background-color: $lightblue;
        color: $blue;
    }



    a.circle-nav.circle-less-viendo:before,  a.circle-nav.circle-less-vista:before{
        border-top-color: $green !important;
    }


    .active {
        opacity: .7;
    }

    .circle-less-vista {
        background-color: $green;
        color: $gray-500;
    }
}

.s1_fin-materia{
    padding-top: 5rem;
    padding-bottom: 3rem;
    background: $gray-200;
    border-radius: 1rem;
    position: relative;
    left: 1rem;
    .titulo_fin-materia{
        color: $blue;
        font-family: $primary-font;
        font-size: $h1-font-size;
        line-height: calc(5rem - 5px);
    }
    .ic-verify{
        color: $green;
        font-size: 8rem;
        opacity: 0.8;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .text_fin-materia{
        color: $gray-650;
        font-family: $primary-font;
        font-size: $h4-font-size;
        line-height: calc(2rem + 1px);
        margin: 2rem 0;
    }
    .logro{
        font-family: $primary-font;
        font-size: $h4-font-size;
        line-height: calc(2rem + 6px);
        margin-right: calc(3rem + 7px);
        color: $gray-600;
        position: relative;
        left: -2rem;
        margin-top: calc(2rem - 6px);
        .num{
            color: $blue;
            font-family: $primary-font;
            font-size: $h4-font-size;
            line-height: calc(2rem + 6px);
            position: relative;
            left: calc(1rem + 7px);
            top: .05rem;
            .unidad{
                color: $blue;
                font-family: $primary-font;
                font-size: calc($h5-font-size + 2px);
                line-height: calc(2rem - 4px);
                margin-left: calc(1rem - 8px);
            }
        }
    }
}

.s2_fin-materia{
    padding-top: 6rem;
    .text_fin-materia{
        color: $gray-650;
        font-family: $primary-font;
        font-size: $h4-font-size;
        line-height: calc(2rem + 1px);
        margin: 2rem 0;
    }
}
