#message {
    // display: none;
}
    .for-message {
        background-color: #fff;
        // width: 100%;
        // max-width: 1444px;
        position: relative;
        border-radius: 16px;
    p {
        max-width: 60%;
    }



}
#equis {
    position: absolute;
    right: 24px;
    top: 24px;
    color: $gray-500;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: $green;
    }
}

.es-message {
    background-image: url(../../../assets/img/es_actividades.png);
    background-repeat: no-repeat;
    background-position: 100% 30px;
    background-size: 35%;

    p, h5 {
        color: $gray-500;
        font-weight: 200;
    }
}
.well-message {

    //img {
    //    position: absolute;
    //    bottom: 0;
    //    right: 0;
    //}
    // background-image: url(../../assets/img/well_hero.png);
    // background-repeat: no-repeat;
    // background-position: bottom right;
    // background-size: 24%;
}


.wrap-move-map {
    overflow: hidden;
}

.well-message-prog {

    p{
        max-width: 70%;
        max-height: 900px;
        opacity: 1;
        transition:  all 1.5s ease-in-out;
    }
}

.avance-message {
    background-color: #fff;
    position: relative;
    border-radius: 16px;

}

p.up {
    max-height: 0px;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
    opacity: 0;
}

#arrowDown {
    position: absolute;
    right: 24px;
    top: 24px;
    color: $gray-500;
    cursor: pointer;
    transition: .4s;
    font-size: 32px;

    &:hover {
        color: $green;
    }
}


.arrow-move {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
