//Modal recuperar contraseña

.modal-recuperacion{
    @extend %modal-m;
    @extend %modal;
    @include media-breakpoint-down(xl){
        .titulo{
            margin-top: calc(-1*calc(2rem - 7px));
        }
        .btn_rc{
            margin: 1rem 0;
            padding: auto 0;
            
        }
        .txt-modal-footer{
            margin-top: 2rem;
        }
    }
    .txt-modal{
        color: $gray-700;
        font-family: $primary-font;
        font-size: $font-size-base;
        line-height: 1.1875rem;
        text-align: center;
    }
    .txt-modal-footer{
        position: relative;
        bottom: calc(-1 * calc(2rem + 3px));
    }
    input{
        align-items: center;
    }
    .btn_rc{
        text-align: center;
        margin: 1rem 0 calc(1rem - 8px) 0; 
    }
    .link_ri{
        font-size: $font-size-sm;
        color: $primary;
        font-family: $secondary-font;
        font-weight: $font-weight-normal;
        position: relative;
        text-align: center !important;
        float: none !important;
    }
}

//Modal calendario
.modal-calendario{
    @extend %modal-m;
    @extend %modal;
    @include media-breakpoint-down(xl){
        .titulo{
            margin-top: calc(-1*calc(2rem - 7px));
        }
        .btn_rc{
            margin-top: -2rem; 
        }
    }
    .text-calendar{
        color: $gray-700;
        font-family: $primary-font;
        font-size: calc($p-font-size - 2px);
        line-height: 1.1875rem;
        text-align: center;
        font-weight: $font-weight-light;
    }
}

//Modal editar hilo en espacio colaborativo
.modal-edit{
    @extend %modal-l;
    @extend %modal;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 0 1rem 1rem 0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-600;
        outline: 1px solid $gray-850;
        -webkit-border-radius: 0 1rem 1rem 0;
    }
    .titulo-form{
        color: $gray-700;
        font-family: $primary-font;
        font-size: $font-size-base;
        line-height: 1.1875rem;
        font-weight: $font-weight-normal-hard;
        text-align: left;
    }
}

//Modal responder hilo en espacio colaborativo
.modal-resp{
    @extend %modal-sl;
    @extend %modal;
    .titulo-form{
        color: $gray-700;
        font-family: $primary-font;
        font-size: $font-size-base;
        line-height: 1.1875rem;
        font-weight: $font-weight-normal-hard;
        text-align: left;
    }
}
//Extend

%modal-sl{
    height: 37rem;
    width: 65rem;
    @include media-breakpoint-down(xl){
        height: 33rem;
        width: 62rem;
    }
}

%modal-l{
    height: 46rem;
    width: 65rem;
    @include media-breakpoint-down(xl){
        height: 36rem;
        width: 62rem;
    }
}

%modal-s{
    
}

%modal-m{
    height: 40rem;
    width: 33.5rem;
    @include media-breakpoint-down(xl){
        height: 36rem;
        width: 30.5rem;
    }
}

%modal{
    margin: 8rem auto !important;
    border-radius: 1rem;
    background: $gray-100;
    @include media-breakpoint-down(xl){
        margin: 2rem auto !important;
    }
    .btn_close_modal{
        position: relative;
        top: 1.3125rem;
        right: 0;
        border: 0;
        background: transparent;
        .ic-close-white{
            height: 1.5rem;
            width: 1.5rem;
            cursor: pointer;
            color: $gray-600;
        }
    }
    .titulo{
        color: $gray-700;
        font-family: $secondary-font;
        font-weight: $font-weight-easy-medium;
        font-size: $h4-font-size;
        text-align: center;
        line-height: 2.375rem;
    }
}