<h2>

Cordial saludo, se ha recibido un mensaje proveniente de la sección: "Soporte Virtual" de la plataforma: "formación2.0" , <br>a continuación se muestran los detalles:  
</h2>
<br>
<br>
<table style="width: 100%;font-family: Arial;font-size: 18px;">
	
	<tr style="padding: 10px;background-color: #c2e5fc;color:#000000">
		  <td style="width: 30%;text-align: left;"><B>Nombre y apellido del usuario:</B>&nbsp;&nbsp;{{nombreUsuario}}</td>
		  
	</tr>
	
	<tr style="padding: 10px;background-color: #c2e5fc;color:#000000">
		 <td  style="width: 30%;text-align: left;"><B>Correo del usuario:</B>&nbsp;&nbsp;{{correoUsuario}}</td>
		 
	</tr>
	<tr style="padding: 10px;background-color: #c2e5fc;color:#000000">
		 <td  style="width: 30%;text-align: left;"><B>Asunto:</B>&nbsp;&nbsp;{{asuntoMensaje}}</td>
		 
	</tr>
	<tr style="padding: 10px;background-color: #F9FCFE">
		 <td style="width: 100%;text-align: left;"><br>{{mensaje}}</td>
	</tr>
</table>