<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf8" httpequiv="ContentType">
		<title>Notificaciones Formación 2.0</title>
	</head>
	<body>
		<p>Hola!</p>
		{{ this }}{{ message }}
	</body>
</html>