<!DOCTYPE HTML>
<html>
{% block stylesheets %}
    <style>
        .background_certificado {
            text-align: center;
        }        
    </style>
{% endblock %}
    <head>
        <meta charset="UTF-8" />
        <title>Constancia</title>       
    </head>
    <body>
        {% set img = uploads~certificado.imagen %}
        <figure class="background_certificado"><img src="{{ img }} " alt=""></figure>
    </body>
</html>