/*Etiquetas*/

/*Clases*/

    /*Header*/
        .sidebar-left img{
            width: 200px;
            height: auto;
        }

        .sidebar-left button{
            margin-top: 5px;
        }

        .sidebar-left button span{
            font-size: 25px;
            cursor: pointer;
        }

        .bttn1 .ico_1{
            font-size: 20px;
            cursor: pointer;
        }

        .bttn_user{
            cursor: pointer;
            outline: none;
        }
    /*fin header*/

    /*Sidebar*/
        .info_user .us1{
            font-size: 16px;
        }

        .rec_user{
            padding-top: 10px;
        }

        .space_icon{
            padding: 0px 2px;
        }
    /*fin Sidebar*/

    /*Estilos de formularios*/
        .form_sty1, .form_sty2, .form_sty3, 
        .form_sty4{
            display: inline-block;
            width: 100%;
            padding: 10px 0px 10px 15px;
            background: #efefef;
            border: 0;
            outline: 0;
            text-indent: 0px;
            transition: all .3s ease-in-out;
        }

        .form_sty1 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: #007bcd;
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty1:focus, .form_sty1:active,
        .form_sty2:focus, .form_sty2:active,
        .form_sty3:focus, .form_sty3:active,
        .form_sty4:focus, .form_sty4:active{
            text-indent: 35px;
            background: #fff;
            transition: all .3s ease-in-out;
        }

        .form_sty1:focus + span, .form_sty1:active + span,
        .form_sty2:focus + span, .form_sty2:active + span,
        .form_sty3:focus + span, .form_sty3:active + span,
        .form_sty4:focus + span, .form_sty4:active + span{
            opacity: 1;
            display: inline-block;
            transform: translateX(28px);
        }

        .form_sty2 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: #A3C300;
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty3 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty4 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%);
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date1, .form_sty_date2, .form_sty_date3, .form_sty_date4{
            display: inline-block;
            width: 100%;
            padding: 10px 0px 10px 15px;
            background: #efefef;
            border: 0;
            outline: 0;
            text-indent: 0px;
            transition: all .3s ease-in-out;
        }

        .form_sty_date1 + span.fa.fa-calendar{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: #007bcd;
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date2 + span.fa.fa-calendar{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: #A3C300;
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date3 + span.fa.fa-calendar{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date4 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%);
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date1:active, .form_sty_date1:focus, 
        .form_sty_date2:active, .form_sty_date2:focus,
        .form_sty_date3:active, .form_sty_date3:focus,
        .form_sty_date4:active, .form_sty_date4:focus{
            text-indent: 18px;
            background: #fff;
            transition: all .3s ease-in-out;
        }

        .form_sty_date1:active + span.fa.fa-calendar, .form_sty_date1:focus + span.fa.fa-calendar,
        .form_sty_date2:active + span.fa.fa-calendar, .form_sty_date2:focus + span.fa.fa-calendar,
        .form_sty_date3:active + span.fa.fa-calendar, .form_sty_date3:focus + span.fa.fa-calendar,
        .form_sty_date4:active + span, .form_sty_date4:focus + span{
            opacity: 1;
            display: inline-block;
            transform: translateX(28px);
        }    

        .bttn_down1{
            display: inline-block;
            width: 34px;
            height: 40px;
            opacity: 1;
            position: absolute;
            top: 0;
            right: 14px;
            background: #007bcd;
            border-radius: 0px 15px 15px 0px;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }

        .bttn_down2{
            display: inline-block;
            width: 34px;
            height: 40px;
            opacity: 1;
            position: absolute;
            top: 0;
            right: 14px;
            background: #A3C300;
            border-radius: 0px 15px 15px 0px;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }

        .bttn_down3{
            display: inline-block;
            width: 34px;
            height: 40px;
            opacity: 1;
            position: absolute;
            top: 0;
            right: 14px;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-radius: 0px 15px 15px 0px;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }

        .bttn_down1 img, .bttn_down2 img, .bttn_down3 img{
            width: 15px;
            height: 15px;
            margin: 13px 7px;
            cursor: pointer;
            background: transparent;
        }
    /*Fin Estilos de formularios*/
    /*Tipos de Botones*/
        .bttn__nr{
            width: 4em;
            height: 4em;
            border-radius: 50px;
            background: #fff;
            display: inline-block;
            white-space: nowrap;
            border: none;
            color: #333;
            box-sizing: border-box;
            padding: 10px 15px 10px 15px;
            font-size: 1em;
            font-weight: bold;
            transition: all .25s ease;
            box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .2);
            text-decoration: none;
            cursor: pointer;
            overflow: none;
        }

        .bttn__nr span.fa{
            margin: 5px 10px 0px 5px;
            font-size: 22px;
            transition: margin .5s ease;
        }

        .bttn__nr .text__nr{
            opacity: 0;
            display: none;
        }

        .bttn__nr:hover{
            width: 11em;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            color: #fff;
        }

        .bttn__nr:hover span.fa{
            margin: 5px 7px 0 2px;
        }

        .bttn__nr:hover .text__nr{
            opacity: 1;
            display: inline-block;
            position: relative;
            top: -3px;
            left: 0px;
            overflow-x: none;
        }

        .bttn__nxt, .bttn__end{
            width: 3em;
            height: 3em;
            border-radius: 50px;
            background: #fff;
            display: inline-block;
            white-space: nowrap;
            border: none;
            color: #333;
            box-sizing: border-box;
            padding: 10px;
            font-size: 1em;
            font-weight: bold;
            transition: all .25s ease;
            box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .2);
            text-decoration: none;
            cursor: pointer;
            overflow: none;
        }

        .bttn__nxt .text__nxt, .bttn__end .text__end{
            opacity: 0;
            display: none;
        }

        .bttn__nxt span.fa{
            margin: 5px 10px 0px 8px;
            font-size: 18px;
            transition: margin .5s ease;
        }

        .bttn__end span.fa{
            margin: 3px 8px 0px 4px;
            font-size: 18px;
            transition: margin .5s ease;
        }

        .bttn__nxt:hover, .bttn__end:hover{
            width: 8em;
            background: #d5ff00;
        }

        .bttn__nxt:hover span.fa{
            margin: 5px 5px 0 8px;
        }

        .bttn__end:hover span.fa{
            margin: 3px 5px 0 10px;
        }
        
        .bttn__nxt:hover .text__nxt{
            opacity: 1;
            display: inline-block;
            position: relative;
            top: -3px;
            left: 2px;
            overflow-x: none;
        }

        .bttn__end:hover .text__end{
            opacity: 1;
            display: inline-block;
            position: relative;
            top: -1px;
            left: 2px;
            overflow-x: none;
        }
    /*Fin de Tipos de botones*/
    /*Fondos*/
        .bttn__fndo{
            background: #00558D;
            color: #fff;
        }

        .bttn__fndo:hover{
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            color: #fff;
        }
    /*fin de fondos*/

/*Identificadores*/