/*Etiquetas*/

/*Clases*/

    /*Header*/
        .sidebar-left img{
            width: 200px;
            height: auto;
        }

        .sidebar-left button{
            margin-top: 5px;
        }

        .sidebar-left button span{
            font-size: 25px;
            cursor: pointer;
        }

        .bttn1 .ico_1{
            font-size: 20px;
            cursor: pointer;
        }

        .bttn_user{
            cursor: pointer;
            outline: none;
        }
    /*fin header*/

    /*Sidebar*/
        .info_user .us1{
            font-size: 16px;
        }

        .rec_user{
            padding-top: 10px;
        }

        .space_icon{
            padding: 0px 2px;
        }
    /*fin Sidebar*/

    /*Estilos de formularios*/
        .form_sty1, .form_sty2, .form_sty3, 
        .form_sty4{
            display: inline-block;
            width: 100%;
            padding: 10px 0px 10px 15px;
            background: #efefef;
            border: 0;
            outline: 0;
            text-indent: 0px;
            transition: all .3s ease-in-out;
        }

        .form_sty1 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: #007bcd;
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty1:focus, .form_sty1:active,
        .form_sty2:focus, .form_sty2:active,
        .form_sty3:focus, .form_sty3:active,
        .form_sty4:focus, .form_sty4:active{
            text-indent: 35px;
            background: #fff;
            transition: all .3s ease-in-out;
        }

        .form_sty1:focus + span, .form_sty1:active + span,
        .form_sty2:focus + span, .form_sty2:active + span,
        .form_sty3:focus + span, .form_sty3:active + span,
        .form_sty4:focus + span, .form_sty4:active + span{
            opacity: 1;
            display: inline-block;
            transform: translateX(28px);
        }

        .form_sty2 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: #A3C300;
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty3 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty4 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 10px 15px;
            background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%);
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date1, .form_sty_date2, .form_sty_date3, .form_sty_date4{
            display: inline-block;
            width: 100%;
            padding: 10px 0px 10px 15px;
            background: #efefef;
            border: 0;
            outline: 0;
            text-indent: 0px;
            transition: all .3s ease-in-out;
        }

        .form_sty_date1 + span.fa.fa-calendar{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: #007bcd;
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date2 + span.fa.fa-calendar{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: #A3C300;
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date3 + span.fa.fa-calendar{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-radius: 15px 0px 0px 15px;
            color: #fff;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date4 + span{
            display: inline-block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: -14px;
            padding: 13px 15px;
            background: linear-gradient(to right, #d5ff00 0%, #A3C300 100%);
            border-radius: 15px 0px 0px 15px;
            color: #333;
            text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
            transition: all .3s ease-in-out;
        }

        .form_sty_date1:active, .form_sty_date1:focus, 
        .form_sty_date2:active, .form_sty_date2:focus,
        .form_sty_date3:active, .form_sty_date3:focus,
        .form_sty_date4:active, .form_sty_date4:focus{
            text-indent: 18px;
            background: #fff;
            transition: all .3s ease-in-out;
        }

        .form_sty_date1:active + span.fa.fa-calendar, .form_sty_date1:focus + span.fa.fa-calendar,
        .form_sty_date2:active + span.fa.fa-calendar, .form_sty_date2:focus + span.fa.fa-calendar,
        .form_sty_date3:active + span.fa.fa-calendar, .form_sty_date3:focus + span.fa.fa-calendar,
        .form_sty_date4:active + span, .form_sty_date4:focus + span{
            opacity: 1;
            display: inline-block;
            transform: translateX(28px);
        }    

        .bttn_down1{
            display: inline-block;
            width: 34px;
            height: 40px;
            opacity: 1;
            position: absolute;
            top: 0;
            right: 14px;
            background: #007bcd;
            border-radius: 0px 15px 15px 0px;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }

        .bttn_down2{
            display: inline-block;
            width: 34px;
            height: 40px;
            opacity: 1;
            position: absolute;
            top: 0;
            right: 14px;
            background: #A3C300;
            border-radius: 0px 15px 15px 0px;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }

        .bttn_down3{
            display: inline-block;
            width: 34px;
            height: 40px;
            opacity: 1;
            position: absolute;
            top: 0;
            right: 14px;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-radius: 0px 15px 15px 0px;
            transition: all .3s ease-in-out;
            pointer-events: none;
        }

        .bttn_down1 img, .bttn_down2 img, .bttn_down3 img{
            width: 15px;
            height: 15px;
            margin: 13px 7px;
            cursor: pointer;
            background: transparent;
        }
    /*Fin Estilos de formularios*/
    /*Tipos de Botones*/
        .bttn__nr{
            width: 4em;
            height: 4em;
            border-radius: 50px;
            background: #fff;
            display: inline-block;
            white-space: nowrap;
            border: none;
            color: #333;
            box-sizing: border-box;
            padding: 10px 15px 10px 15px;
            font-size: 1em;
            font-weight: bold;
            transition: all .25s ease;
            box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .2);
            text-decoration: none;
            cursor: pointer;
            overflow: none;
        }

        .bttn__nr span.fa{
            margin: 5px 10px 0px 5px;
            font-size: 22px;
            transition: margin .5s ease;
        }

        .bttn__nr .text__nr{
            opacity: 0;
            display: none;
        }

        .bttn__nr:hover{
            width: 11em;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            color: #fff;
        }

        .bttn__nr:hover span.fa{
            margin: 5px 7px 0 2px;
        }

        .bttn__nr:hover .text__nr{
            opacity: 1;
            display: inline-block;
            position: relative;
            top: -3px;
            left: 0px;
            overflow-x: none;
        }

        .bttn__nxt, .bttn__end, .bttn__bck, .bttn__save, .bttn__cancel{
            width: 3em;
            height: 3em;
            border-radius: 50px;
            background: #fff;
            display: inline-block;
            white-space: nowrap;
            border: none;
            color: #333;
            box-sizing: border-box;
            padding: 10px;
            font-size: 1em;
            font-weight: bold;
            transition: all .25s ease;
            box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .2);
            text-decoration: none;
            cursor: pointer;
            overflow: none;
        }

        .bttn__nxt .text__nxt, .bttn__end .text__end, .bttn__bck .text__bck,
        .bttn__save .text__save, .bttn__cancel .text__cancel{
            opacity: 0;
            display: none;
        }

        .bttn__nxt span.fa{
            margin: 5px 10px 0px 8px;
            font-size: 18px;
            transition: margin .5s ease;
        }

        .bttn__end span.fa, .bttn__bck span.fa, .bttn__edit span.fa,
        .bttn__elim span.fa, .bttn__save span.fa, .bttn__cancel span.fa{
            margin: 3px 8px 0px 4px;
            font-size: 18px;
            transition: margin .5s ease;
        }

        .bttn__nxt:hover, .bttn__end:hover{
            width: 8em;
            background: #d5ff00;
        }

        .bttn__bck:hover{
            width: 12em;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            color: #fff;
        }

        .bttn__nxt:hover span.fa{
            margin: 5px 5px 0 8px;
        }

        .bttn__end:hover span.fa, .bttn__save:hover span.fa, .bttn__cancel:hover span.fa{
            margin: 3px 5px 0 10px;
        }

        .bttn__bck:hover span.fa{
            margin: 3px 10px 0 -10px;
        }
        
        .bttn__nxt:hover .text__nxt{
            opacity: 1;
            display: inline-block;
            position: relative;
            top: -3px;
            left: 2px;
            overflow-x: none;
        }

        .bttn__end:hover .text__end, .bttn__bck:hover .text__bck, 
        .bttn__save:hover .text__save, .bttn__cancel:hover .text__cancel{
            opacity: 1;
            display: inline-block;
            position: relative;
            top: -1px;
            left: 2px;
            overflow-x: none;
        }

        .bttn__edit, .bttn__elim{
            width: 3em;
            height: 3em;
            border-radius: 50px;
            background: #fff;
            display: inline-block;
            white-space: nowrap;
            border: 0.5px solid #333;
            color: #333;
            box-sizing: border-box;
            padding: 10px;
            font-size: 1em;
            margin: 0px 5px;
            font-weight: bold;
            transition: all .25s ease;
            box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .2);
            text-decoration: none;
            cursor: pointer;
            overflow: none;
        }

        .bttn__edit:hover{
            background: #0079c9;
            color: #fff;
            border: none;
        }

        .bttn__save:hover{
            width: 7em;
            background: #97af21;
            color: #fff;
            border: none;
        }

        .bttn__elim:hover{
            background: #e04646;
            color: #fff;
            border: none;
        }

        .bttn__cancel:hover{
            background: #e04646;
            color: #fff;
            border: none;
            width: 7em;
        }
        
        .bttn__edit:hover span.fa, .bttn__elim:hover, span.fa{
            margin-left: 5px;
        }

    /*Fin de Tipos de botones*/
    /*Fondos*/
        .bttn__fndo{
            background: #00558D;
            color: #fff;
        }

        .bttn__fndo:hover{
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            color: #fff;
        }

    /*fin de fondos*/
    /*Textos*/

        .show__details p, .show__details h5{
            display: inline;
        }

        .show__details p{
            font-size: 18px;
            text-align: justify;
            padding-left: 12px;
        }

        .show__details h5{
            text-transform: uppercase;
        }

        .text__info h6, .text__info i{
            display: inline;
        }

        .text__info h6{
            padding-left: 10px
        }

        .text__info li{
            margin: 5px 10px;
        }

        .text__info i{
            font-size: 8px;
            position: relative;
            top: -4px;
        }
    /*Fin de textos*/
        
    /*Tabs*/
        .tabs{
            display: table;
            table-layout: fixed;
            width: 75%;
            -webkit-Transform: translateY(5px);
            transform: translateY(5px);
        }

        .tabs li{
            transition: all .25s ease-in-out;
            display: table-cell;
            list-style: none;
            padding: 10px;
            position: relative;
            cursor: pointer;
            color: #333;
            background: #f7f7f7;
            border-radius: 10px 10px 0px 0px;
            font-size: 1em;
        }

        .tabs li span{
            font-size: 1.5em;
            margin: 0px 10px 0px 5px;
        }

        .tabs li:hover{
            color: #fff;
            font-weight: bold;
            background: #007ed0;
            border-bottom: 3px solid #333;
            border-left: 3px solid #003f68;
            border-right: 3px solid #003f68;
        }

        .tabs li:before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            background: rgba(255, 255, 255, 0.3);
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all .25s;
            border-radius: 5px 5px 0 0;
        }

        .tabs li:hover:before {
            -webkit-transform: translateY(70%);
            transform: translateY(70%);
        }

        .tabs li.active{
            color: #fff;
            font-weight: bold;
            background: linear-gradient(to right, #0084db 0%, #00558D 100%);
            border-bottom: 3px solid #333;
            border-left: 3px solid #003f68;
            border-right: 3px solid #003f68;
        }

        .tabs li.active:before{
            transition: all .5s;
            background-color: #fff;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .tab__content{
            background-color: #f9f9f9;
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 5px;
            margin-top: -11px;
            box-shadow: 4px 4px 15px rgba(51, 51, 51, .5);
        }

        .tab__content li{
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0;
            display: none;
            list-style: none;
        }

        .tab__content li .content__wrapper {
            border-radius: 5px;
            width: 100%;
            height: auto;
            padding: 25px 40px 25px 40px;
            background: #f9f9f9;
        }
    /*Fin Tabs*/

/*Identificadores*/