.mt-25v {
  margin-top: 25vh; }
  @media (max-width: 767.98px) {
    .mt-25v {
      margin-top: 0; } }

.mt-22v {
  margin-top: 22vh; }
  @media (max-width: 767.98px) {
    .mt-22v {
      margin-top: 0; } }

.mt-12v {
  margin-top: 12vh; }
  @media (max-width: 767.98px) {
    .mt-12v {
      margin-top: 0; } }

.color-light-grey {
  color: #adb5bd; }

.color-grey {
  color: #797D80; }

.color-dark-grey {
  color: #5C6266; }

.bg-white {
  background-color: #fff; }

.text-sm {
  font-size: 0.87rem; }

.hidden-nav-content {
  opacity: 0;
  transform: translateX(50%);
  overflow: hidden; }

a.active-line, .active-line {
  border-bottom: 3px solid #CFE65C; }

.rotate-180 {
  transform: rotate(180deg); }

.sub-line {
  border-bottom: 1px solid #DAE1E6; }

.less-disabled {
  pointer-events: none; }

/* FONTS */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.2;
  color: #5CAEE6; }

h1, .h1 {
  font-size: 4.25rem; }

h2, .h2 {
  font-size: 2.25rem; }

h3, .h3 {
  font-size: 2rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.125rem; }

.font-light {
  font-weight: 300; }

.font-normal {
  font-weight: 400; }

.font-medium {
  font-weight: 700; }

.font-bold {
  font-weight: 700; }

p {
  font-family: "Open Sans";
  font-size: 1.125rem;
  color: #797D80;
  font-weight: 300; }

label {
  font-size: 1.125rem;
  color: #797D80;
  font-weight: lighter; }

.title-grey {
  color: #797D80; }

.links {
  color: #5CAEE6;
  font-size: 0.87rem;
  font-weight: 300; }

.text-sm {
  font-size: 0.87rem; }

.text-xs {
  font-size: 0.75rem; }

.text-xxs {
  font-size: 0.0625rem; }

@media (max-width: 991.98px) {
  h1, .h1 {
    font-size: 3.1875rem; }

  h2, .h2 {
    font-size: 1.6875rem; }

  h3, .h3 {
    font-size: 1.5rem; }

  h4, .h4 {
    font-size: 1.125rem; }

  h5, .h5 {
    font-size: 0.84375rem; }

  p, body, label {
    font-size: 0.9rem; } }
label {
  color: #797D80; }

.form-control::placeholder {
  color: #DAE1E6; }

input.form-control {
  border: solid 2px #DAE1E6;
  border-radius: 8px;
  padding-left: 1rem; }

input.form-control:focus {
  outline: none;
  border: solid 2px #80CCFF;
  border-radius: 8px;
  box-shadow: none; }

.btn-primary {
  color: #F0F4F7;
  background-color: #5CAEE6;
  border-color: #5CAEE6; }
  .btn-primary:hover {
    background-color: #3D93CC;
    border-color: #3D93CC; }

.btn-continuar {
  color: #797D80;
  background-color: #FFDC60; }
  .btn-continuar:hover {
    color: #797D80;
    background-color: #ffd43a;
    border-color: #ffd12d; }

.btn-edge {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100px;
  padding-top: 8px;
  font-family: "Roboto";
  transition: .5s;
  color: #adb5bd; }

.btn-certificado {
  left: 0;
  border-radius: 0 0 0px calc(1.25rem - 4px);
  font-size: .9rem; }
  .btn-certificado:hover {
    background-color: #F7F7F7;
    text-decoration: none;
    color: #CFE65C; }

.btn-notas {
  border-radius: 0 0 calc(1.25rem - 4px) 0;
  font-size: .9rem; }
  .btn-notas:hover {
    background-color: #F7F7F7;
    text-decoration: none;
    color: #CFE65C; }

.btn-ver {
  right: 0;
  border-radius: 0 0 0px calc(1.25rem - 4px);
  font-size: .9rem; }
  .btn-ver:hover {
    background-color: #F7F7F7;
    text-decoration: none;
    color: #CFE65C; }

.btn_sp {
  padding: calc(1.25rem - 8px) calc(1.5rem - 5.84px);
  background: transparent !important;
  border-radius: 2rem;
  position: relative;
  top: calc(1rem + 8px);
  transition: all .25s ease-in-out; }
  .btn_sp:hover {
    width: 12vw;
    background-color: #5CAEE6 !important;
    color: #fff; }

.btn-search {
  position: absolute;
  height: 2.6rem;
  top: .07rem;
  right: 1.07rem;
  border: 0px;
  background: transparent;
  border-radius: 0 .5rem .5rem 0; }
  .btn-search:focus {
    outline: 0; }
  .btn-search .ic-search {
    margin-top: .5rem;
    cursor: pointer;
    color: #DAE1E6; }

.bttn_fm {
  font-family: "Roboto";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: calc(1rem + 3px);
  text-align: center; }

body {
  background-color: #F7F7F7;
  overflow-x: hidden; }

#main {
  transition: all .6s;
  padding: 16px;
  margin-left: 200px;
  max-width: 90%; }
  @media (max-width: 767.98px) {
    #main {
      width: 90%; } }

body.lesson-body, body.detalle-noticias {
  background-color: #fff; }

a:hover {
  text-decoration: none;
  color: #5CAEE6; }

.perfil-dropdown {
  background-color: white;
  color: #AAAFB3;
  padding: 1rem;
  left: -150%;
  text-align: center; }

.perfil:hover {
  opacity: .8; }
.perfil.dropdown-toggle:after {
  display: none; }

.cont-noticias {
  margin-top: calc(1rem - 5px);
  border-radius: 1rem;
  background-color: #F7FAFC;
  padding: calc(2rem + 3px) 0; }

.login-cover {
  background-image: url(../../../assets/img/login_cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  min-height: 100vh; }

a.links:focus {
  outline: none !important; }

.modal-recuperacion .titulo {
  margin-top: calc(-1*calc(2rem - 7px)); }
.modal-recuperacion .btn_rc {
  margin: 1rem 0;
  padding: auto 0; }
.modal-recuperacion .txt-modal-footer {
  margin-top: 2rem; }
.modal-recuperacion .txt-modal {
  color: #797D80;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center; }
.modal-recuperacion .txt-modal-footer {
  position: relative;
  bottom: calc(-1 * calc(2rem + 3px)); }
.modal-recuperacion input {
  align-items: center; }
.modal-recuperacion .btn_rc {
  text-align: center;
  margin: 1rem 0 calc(1rem - 8px) 0; }
.modal-recuperacion .link_ri {
  font-size: 0.87rem;
  color: #5CAEE6;
  font-family: "Open Sans";
  font-weight: 400;
  position: relative;
  text-align: center !important;
  float: none !important; }

.modal-calendario .titulo {
  margin-top: calc(-1*calc(2rem - 7px)); }
.modal-calendario .btn_rc {
  margin-top: -2rem; }
.modal-calendario .text-calendar {
  color: #797D80;
  font-family: "Roboto";
  font-size: calc($p-font-size - 2px);
  line-height: 1.1875rem;
  text-align: center;
  font-weight: 300; }

.modal-recuperacion, .modal-calendario {
  margin: 10rem auto;
  height: 40rem;
  width: 33.5rem;
  border-radius: 1rem;
  background: #FAFAFA;
  margin: 2rem auto;
  height: 36rem;
  width: 30.5rem; }
  .modal-recuperacion .btn_close_modal, .modal-calendario .btn_close_modal {
    position: relative;
    top: 1.3125rem;
    right: 0;
    border: 0;
    background: transparent; }
    .modal-recuperacion .btn_close_modal .ic-close-white, .modal-calendario .btn_close_modal .ic-close-white {
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
      color: #AAAFB3; }
  .modal-recuperacion .titulo, .modal-calendario .titulo {
    color: #797D80;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.375rem; }

.avatar-img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50rem;
  position: relative;
  top: -.2rem; }

.eval_header {
  height: 18vh; }
  .eval_header .exit_eval {
    cursor: pointer;
    position: relative;
    top: -.1rem; }
  .eval_header .txt_eval_header {
    color: #AAAFB3;
    font-family: "Roboto";
    font-size: .875rem;
    line-height: 1rem;
    text-align: left; }
  .eval_header .titulo_eval {
    font-family: "Roboto";
    font-size: 2.25rem;
    text-align: center;
    line-height: 2.625rem;
    font-weight: 500;
    color: #5C6266; }
  .eval_header .sub_titulo_eval {
    color: #AAAFB3;
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center; }

nav.navbar {
  box-shadow: 0 2px 8px 0 rgba(170, 175, 179, 0.56); }

.main-sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1031;
  top: 67px;
  left: 0;
  background-color: #00253D;
  overflow: auto;
  transition: 0.6s;
  padding-top: 60px; }

.main-sidenav-open {
  width: 200px; }

#mainSidenav.main-sidenav-close {
  width: 40px;
  overflow: hidden; }
  #mainSidenav.main-sidenav-close a {
    padding-left: 8px; }

#main.ml-10 {
  margin-left: 6%; }

#main.ml-comments {
  margin-left: -8%; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    #main.ml-comments {
      margin-left: 0;
      margin-right: 38%; } }

i.arrow {
  height: 12px;
  width: 12px;
  border: solid #adb5bd;
  border-width: 0 4px 4px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 4px;
  transition: .3s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.main-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.main-sidenav a:hover {
  color: #fff; }
  .main-sidenav a:hover i.arrow {
    border-color: #CFE65C; }

.main-sidenav .closebtn {
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: 50px; }

a.active {
  color: #CFE65C; }

.nav-lesson {
  top: 80px;
  width: 240px;
  font-family: "Roboto";
  padding-bottom: 136px; }
  @media (max-width: 991.98px) {
    .nav-lesson {
      top: 68px; } }
  .nav-lesson ol {
    margin-bottom: 16px; }
    .nav-lesson ol > li {
      margin: 1.5rem  auto 8px;
      color: #AAAFB3; }
    .nav-lesson ol a {
      padding: 0;
      font-size: 0.87rem;
      margin: 16px auto; }
      .nav-lesson ol a i {
        font-size: 6px;
        margin: 8px; }
  .nav-lesson .ul-items {
    list-style: disc;
    padding-left: 8px;
    margin-right: 16px; }
    .nav-lesson .ul-items li {
      text-indent: 0.2em;
      padding-left: 0rem;
      color: #AAAFB3; }
      .nav-lesson .ul-items li span a {
        display: inline-block; }

.nav-lesson #pills-tabContent {
  transition: all .5s ease;
  width: 240px;
  max-height: 1000px; }

.lesson-pending {
  color: #adb5bd !important; }

.for-message {
  background-color: #fff;
  position: relative;
  border-radius: 16px; }
  .for-message p {
    max-width: 60%; }

#equis {
  position: absolute;
  right: 24px;
  top: 24px;
  color: #adb5bd;
  cursor: pointer;
  transition: .3s; }
  #equis:hover {
    color: #CFE65C; }

.es-message {
  background-image: url(../../../assets/img/es_actividades.png);
  background-repeat: no-repeat;
  background-position: 100% 30px;
  background-size: 35%; }
  .es-message p, .es-message h5 {
    color: #adb5bd;
    font-weight: 200; }

.wrap-move-map {
  overflow: hidden; }

.well-message-prog p {
  max-width: 70%;
  max-height: 900px;
  opacity: 1;
  transition: all 1.5s ease-in-out; }

.avance-message {
  background-color: #fff;
  position: relative;
  border-radius: 16px; }

p.up {
  max-height: 0px;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
  opacity: 0; }

#arrowDown {
  position: absolute;
  right: 24px;
  top: 24px;
  color: #adb5bd;
  cursor: pointer;
  transition: .4s;
  font-size: 32px; }
  #arrowDown:hover {
    color: #CFE65C; }

.arrow-move {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

.lesson-container h2 {
  font-family: "Open Sans"; }
.lesson-container p {
  font-family: "Open Sans";
  font-size: 1.1rem;
  line-height: 1.6;
  color: #7b7b7b;
  width: 75%;
  font-weight: 200;
  text-align: left;
  margin: 1.6rem auto; }

.wraper-nav-less {
  position: relative;
  margin-left: 5%;
  overflow: hidden;
  height: 120px; }
  .wraper-nav-less:hover .btn-lessons {
    opacity: 1; }
  .wraper-nav-less .btn-lessons {
    opacity: 0;
    position: absolute;
    top: 60%;
    z-index: 5;
    cursor: pointer;
    transition: 0.4s;
    color: #adb5bd; }
    .wraper-nav-less .btn-lessons:hover {
      color: #CFE65C; }
    .wraper-nav-less .btn-lessons i {
      font-size: 36px; }
  .wraper-nav-less #btnLessRight {
    right: 0; }

.nav-less-container {
  margin-left: 4%;
  margin-right: 4%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 0; }

#navlesson.nav {
  border: none;
  flex-wrap: nowrap;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: start; }
  @media (max-width: 575.98px) {
    #navlesson.nav {
      justify-content: start;
      padding-left: 1%; } }
#navlesson.nav-tabs, #navlesson .nav-link.active {
  border: none; }
#navlesson .circle-nav {
  background-color: #DAE1E6;
  color: #AAAFB3;
  width: 50px;
  height: 50px;
  margin: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  font-size: 1.4rem; }
#navlesson a.circle-nav:not(#one-tab):before {
  content: "";
  position: absolute;
  right: 50px;
  top: 22px;
  width: 48px;
  height: 7px;
  border-top: 8px solid #DAE1E6; }
#navlesson .circle-less-viendo {
  background-color: #80CCFF;
  color: #5CAEE6; }
#navlesson a.circle-nav.circle-less-viendo:before, #navlesson a.circle-nav.circle-less-vista:before {
  border-top-color: #CFE65C !important; }
#navlesson .active {
  opacity: .7; }
#navlesson .circle-less-vista {
  background-color: #CFE65C;
  color: #adb5bd; }

.s1_fin-materia {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: #F7FAFC;
  border-radius: 1rem;
  position: relative;
  left: 1rem; }
  .s1_fin-materia .titulo_fin-materia {
    color: #5CAEE6;
    font-family: "Roboto";
    font-size: 4.25rem;
    line-height: calc(5rem - 5px); }
  .s1_fin-materia .ic-verify {
    color: #CFE65C;
    font-size: 8rem;
    opacity: 0.8;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .s1_fin-materia .text_fin-materia {
    color: #9B9B9B;
    font-family: "Roboto";
    font-size: 1.5rem;
    line-height: calc(2rem + 1px);
    margin: 2rem 0; }
  .s1_fin-materia .logro {
    font-family: "Roboto";
    font-size: 1.5rem;
    line-height: calc(2rem + 6px);
    margin-right: calc(3rem + 7px);
    color: #AAAFB3;
    position: relative;
    left: -2rem;
    margin-top: calc(2rem - 6px); }
    .s1_fin-materia .logro .num {
      color: #5CAEE6;
      font-family: "Roboto";
      font-size: 1.5rem;
      line-height: calc(2rem + 6px);
      position: relative;
      left: calc(1rem + 7px);
      top: .05rem; }
      .s1_fin-materia .logro .num .unidad {
        color: #5CAEE6;
        font-family: "Roboto";
        font-size: calc($h5-font-size + 2px);
        line-height: calc(2rem - 4px);
        margin-left: calc(1rem - 8px); }

.s2_fin-materia {
  padding-top: 6rem; }
  .s2_fin-materia .text_fin-materia {
    color: #9B9B9B;
    font-family: "Roboto";
    font-size: 1.5rem;
    line-height: calc(2rem + 1px);
    margin: 2rem 0; }

.tabs {
  position: relative; }
  .tabs li {
    display: inline-block;
    list-style: none;
    top: 1.5rem;
    margin: 0 4rem;
    left: -1rem;
    position: relative;
    cursor: pointer;
    color: #adb5bd;
    text-align: center;
    border-bottom: 3px solid transparent; }
    .tabs li i {
      position: relative;
      top: .425rem;
      left: -.25rem; }
    .tabs li span {
      font-size: 1rem;
      font-family: "Roboto";
      font-weight: 500;
      line-height: calc($font-size-base + 3px); }
      .tabs li span:hover {
        border-bottom: 3px solid #CFE65C;
        color: #5CAEE6; }
    .tabs li:hover i {
      color: #CFE65C; }
    .tabs li:hover span {
      border-bottom: 3px solid #CFE65C;
      color: #5CAEE6; }
  .tabs .activo span {
    border-bottom: 3px solid #CFE65C;
    color: #5CAEE6;
    box-sizing: border-box; }
  .tabs .activo i {
    color: #CFE65C; }

.tab__content {
  position: relative;
  width: 100vw; }
  .tab__content li {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    display: none;
    list-style: none; }
  .tab__content .content__wrapper {
    width: 80vw; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  text-align: center;
  border-radius: 1rem;
  margin: 32px;
  box-shadow: 0px 16px 32px -24px rgba(92, 98, 102, 0.32), 0px 24px 43px -9px rgba(92, 98, 102, 0.19);
  transition: .5s;
  overflow-y: hidden; }
  .card .card-title {
    margin-bottom: 0.75rem;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.375rem;
    color: #797D80; }
  .card p {
    font-family: "Open Sans";
    font-size: 12px;
    color: #797D80;
    font-weight: normal; }
  .card:hover .card-footer {
    transform: translateY(0); }
    @media (max-width: 1199.98px) {
      .card:hover .card-footer {
        transform: translateY(-30px); } }
  .card:hover .badge-wrap {
    transform: translateY(0); }
    @media (max-width: 1199.98px) {
      .card:hover .badge-wrap {
        transform: translateY(-13px); } }
  .card .count {
    position: absolute;
    top: 152px;
    left: 8px;
    border-radius: 24px;
    background-color: #fff;
    padding: 0 8px;
    color: #797D80; }

.card-img-overlay {
  height: 50%; }

.card-footer {
  position: relative;
  background-color: transparent;
  height: 8.5vh;
  transform: translateY(100%);
  transition: .5s; }

.badge-wrap {
  transform: translateY(45%);
  transition: .5s; }

.badge-aprobado {
  display: block;
  font-size: 48px;
  margin: auto;
  color: #CFE65C;
  opacity: .8; }

.text-badge {
  font-family: "Open Sans";
  font-weight: 200;
  color: #adb5bd; }

.card-hrz {
  position: relative;
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  background-color: #FAFAFA;
  background-clip: border-box;
  border: none;
  text-align: left;
  border-radius: 1rem;
  margin: 32px;
  box-shadow: 0px 16px 32px -24px rgba(92, 98, 102, 0.32), 0px 24px 43px -9px rgba(92, 98, 102, 0.19);
  transition: .5s; }

.card-current {
  max-width: 692px;
  max-height: 140px; }
  .card-current .card-hrz-img {
    width: 160px; }

.card-hrz-body {
  padding: 1rem; }
  .card-hrz-body h5 {
    font-weight: 400; }
  .card-hrz-body span {
    display: block; }
  .card-hrz-body .progress {
    width: 100%;
    height: 8px;
    background-color: #adb5bd; }
    .card-hrz-body .progress .progress-bar {
      background-color: #CFE65C; }

.card-mod {
  max-height: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  word-wrap: normal; }
  .card-mod .card-mod-num {
    height: auto;
    background-color: #80CCFF;
    color: #00253D;
    font-size: 68px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    flex: 1; }
    @media (max-width: 1199.98px) {
      .card-mod .card-mod-num {
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
        margin-right: 0; } }
  .card-mod .card-mod-less {
    flex: 1; }
  .card-mod .card-hrz-body {
    width: 500px; }
    @media (max-width: 767.98px) {
      .card-mod .card-hrz-body {
        width: 300px; } }

.card-table {
  position: relative;
  width: 35vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  border: none;
  margin: 2rem 0;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 16px 32px -24px rgba(92, 98, 102, 0.32), 0px 24px 43px -9px rgba(92, 98, 102, 0.19);
  overflow-y: hidden; }
  .card-table .card_header {
    padding: 3rem 0 1rem 0;
    width: 35vw; }
    .card-table .card_header .title_header {
      color: #797D80;
      font-family: "Roboto";
      font-size: calc(2rem - 8px);
      font-weight: 500;
      line-height: calc(2rem - 4px);
      text-align: center; }

.card-datos {
  width: 81vw;
  height: auto;
  position: relative;
  top: calc(2rem - 6px);
  left: 13rem;
  background: #F7FAFC;
  border-radius: 1rem 1rem 0 0;
  padding: calc(7rem - 6px) calc(2rem + 3px) calc(2rem + 3px) calc(2rem + 3px); }
  .card-datos .pic-img {
    height: calc(1rem * 10);
    width: calc(1rem * 10);
    position: relative;
    overflow: hidden;
    left: 5rem;
    top: 0;
    padding: 0;
    border-radius: 50rem; }
    .card-datos .pic-img .img-user-pic {
      height: calc(1rem * 10);
      width: calc(1rem * 10);
      border-radius: 50rem;
      position: relative;
      right: 0;
      top: 0;
      padding: 0;
      cursor: pointer; }
    .card-datos .pic-img .add-img {
      width: calc(1rem * 10);
      height: calc(1rem * 10);
      position: absolute;
      border-radius: 50rem;
      left: 0;
      transform: translateY(0%);
      background: rgba(92, 174, 230, 0.5);
      cursor: pointer; }
      .card-datos .pic-img .add-img .ic-add-img {
        color: #fff;
        font-size: calc(2rem + 5px);
        position: relative;
        left: -4rem;
        top: 3rem;
        display: block;
        opacity: .5; }
      .card-datos .pic-img .add-img .title-img {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        display: block;
        position: relative;
        top: 3rem;
        left: -3rem;
        opacity: .5; }
    .card-datos .pic-img:hover .add-img {
      transform: translateY(-100%); }
  .card-datos .puntos {
    display: block;
    position: relative;
    right: calc(2rem + 8px);
    top: calc(1rem - 4px);
    color: #5CAEE6;
    font-family: "Roboto";
    font-size: calc(2rem - 8px);
    line-height: calc(2rem - 4px); }
  .card-datos .name-titulo {
    font-family: "Roboto";
    font-size: 2.25rem;
    font-weight: 500;
    line-height: calc(3rem - 6px);
    position: relative;
    left: calc(-1 * calc(2rem + 4px));
    color: #797D80; }
  .card-datos .ajustar {
    position: relative;
    left: -.5rem;
    top: 0rem; }
    .card-datos .ajustar .nivel {
      color: #AAAFB3;
      font-family: "Roboto";
      font-size: 1.125rem;
      line-height: calc(1rem + 5px);
      text-align: center; }
      .card-datos .ajustar .nivel .ic-nivel {
        font-size: calc(1rem - 3px);
        color: #80CCFF; }
  .card-datos .aj_link {
    position: relative;
    left: 0rem;
    top: calc(1rem - 8px); }

.card-pwd {
  width: 81vw;
  height: auto;
  position: relative;
  top: calc(2rem - 6px);
  left: 13rem;
  background: #fff;
  border-radius: 0 0 1rem 1rem;
  padding: calc(7rem - 6px) calc(2rem + 3px) calc(calc(1rem * 9) - 3px) calc(2rem + 3px);
  margin-bottom: calc(2rem + 3px); }

.marcador {
  border: 1px solid #000; }

.card-anuncio {
  height: 18.375rem;
  width: 15.25rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 4px 4px 10px 0px rgba(92, 98, 102, 0.32);
  cursor: pointer;
  margin-bottom: calc(3rem + 1px); }
  .card-anuncio:hover .card_footer .fecha_anuncio {
    color: #5CAEE6; }
  .card-anuncio .card_header {
    height: 9rem; }
    .card-anuncio .card_header .card_img {
      width: 15.25rem;
      height: 9rem;
      border-radius: 1rem 1rem 0 0; }
  .card-anuncio .card_body {
    height: 5.5rem;
    padding: 0 calc(1rem - 2px); }
    .card-anuncio .card_body .titulo_anuncio {
      padding-top: calc(1rem + 3px);
      color: #5C6266;
      font-family: "Roboto";
      font-size: 1.125rem;
      font-weight: 500;
      line-height: calc(1rem + 5px); }
  .card-anuncio .card_footer {
    height: 3.5rem;
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0 calc(1rem - 2px); }
    .card-anuncio .card_footer .separador {
      box-sizing: border-box;
      border: 1px solid #DAE1E6;
      width: 13.75rem;
      margin-bottom: calc(1rem - 8px); }
    .card-anuncio .card_footer .fecha_anuncio {
      color: #AAAFB3;
      font-family: "Roboto";
      font-size: 0.75rem;
      line-height: calc(1rem - 2px); }
    .card-anuncio .card_footer .tipo_anuncio1 {
      color: #5C6266; }
    .card-anuncio .card_footer .tipo_anuncio2 {
      color: #FFAF61; }

.card_noticia-detalle {
  width: 68rem;
  height: 63.7rem;
  margin: 0;
  padding: 0;
  border-radius: 1rem 1rem 0 0; }
  .card_noticia-detalle .header-titulo {
    left: 1rem;
    background: #FAFAFA;
    padding: calc(1rem + 5px);
    border-radius: 1rem 0 0 0; }
    .card_noticia-detalle .header-titulo .titulo-detalle {
      color: #797D80;
      font-family: "Roboto";
      font-size: 2.25rem;
      line-height: calc(3rem - 6px);
      text-align: center;
      font-weight: 500;
      position: relative;
      margin-top: calc(11rem + 7px); }
    .card_noticia-detalle .header-titulo .fecha-detalle {
      color: #AAAFB3;
      font-family: "Roboto";
      font-size: 0.87rem;
      line-height: 1rem;
      padding-left: .8rem;
      position: relative;
      top: calc(8rem + 5px); }
  .card_noticia-detalle .header-img {
    border-radius: 0 1rem 0 0;
    margin: 0;
    padding: 0; }
    .card_noticia-detalle .header-img .img-detalle {
      border-radius: 0 1rem 0 0; }
  .card_noticia-detalle .noticia_detalle-cont {
    margin: calc(4rem - 1px) 0 5rem 0;
    padding: 0 7rem; }
    .card_noticia-detalle .noticia_detalle-cont .text-detalle {
      color: #797D80;
      font-family: "Roboto";
      font-size: 1.125rem;
      line-height: calc(2rem - 4px); }
    .card_noticia-detalle .noticia_detalle-cont .lnk-volver {
      position: relative;
      top: calc(2rem + 3px);
      color: #5CAEE6;
      font-family: "Roboto";
      font-size: 0.87rem;
      line-height: 1rem;
      padding: 1rem 1rem;
      border-radius: 25rem; }
      .card_noticia-detalle .noticia_detalle-cont .lnk-volver .ic-bck {
        position: relative;
        top: .45rem;
        right: .5rem; }
      .card_noticia-detalle .noticia_detalle-cont .lnk-volver:hover {
        color: #fff;
        background: linear-gradient(to right, #80CCFF 0%, #3D93CC 100%);
        font-weight: 500; }
  .card_noticia-detalle .noticia_detalle-catag {
    padding: 0 7rem; }

.card_biblio {
  position: relative;
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  height: 6.5rem;
  width: 17.56rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 4px 4px 10px 0px rgba(92, 98, 102, 0.32);
  cursor: pointer;
  margin-bottom: calc(1rem + 2px); }
  .card_biblio .card_biblio-left {
    height: 6.5rem;
    width: 4.8rem;
    background: #80CCFF;
    padding: calc(1rem + 5px);
    color: #5CAEE6;
    border-radius: 1rem 0 0 1rem;
    transition: all .25s ease-in; }
    .card_biblio .card_biblio-left .ic-recurso {
      font-size: calc(2rem + 4px);
      margin-top: .7rem; }
  .card_biblio .card_biblio-right {
    height: 6.5rem;
    width: 12.76rem;
    padding: 1rem calc(1rem - 2px); }
    .card_biblio .card_biblio-right .titulo_recurso {
      color: #797D80;
      font-family: "Roboto";
      font-size: 1.125rem;
      font-weight: 500;
      line-height: calc(1rem + 3px); }
    .card_biblio .card_biblio-right .pos-recurso {
      position: absolute;
      bottom: .4rem;
      left: 0; }
      .card_biblio .card_biblio-right .pos-recurso .tipo_recurso {
        color: #AAAFB3;
        font-family: "Roboto";
        font-size: 0.75rem;
        line-height: calc(1rem - 2px);
        transition: all .25s ease-in; }
  .card_biblio:hover .card_biblio-left {
    background: #CFE65C;
    color: #a6ba47; }
  .card_biblio:hover .card_biblio-right .tipo_recurso {
    color: #5CAEE6;
    font-weight: 700; }

.table-card .f-table, .table-card .f-table-last {
  padding: calc(1rem - 4px) 2rem calc(1rem - 4px) 2rem;
  height: 8rem;
  width: 62.25rem; }
  .table-card .f-table .titulo_f-table, .table-card .f-table-last .titulo_f-table {
    color: #5CAEE6;
    font-family: "Roboto";
    font-size: calc($h5-font-size + 2px);
    line-height: calc(1rem + 8px); }
  .table-card .f-table .status_f-table, .table-card .f-table-last .status_f-table {
    display: none; }
    .table-card .f-table .status_f-table:hover, .table-card .f-table-last .status_f-table:hover {
      cursor: pointer;
      background: #3D93CC; }
      .table-card .f-table .status_f-table:hover .status_ft, .table-card .f-table-last .status_f-table:hover .status_ft {
        font-weight: 600 !important; }
  .table-card .f-table .txt-description, .table-card .f-table-last .txt-description {
    color: #AAAFB3;
    font-family: "Roboto";
    font-size: 0.87rem;
    line-height: 1rem; }
  .table-card .f-table .foo-esp_col, .table-card .f-table-last .foo-esp_col {
    position: relative;
    top: .3rem; }
    .table-card .f-table .foo-esp_col .coment_f-table, .table-card .f-table-last .foo-esp_col .coment_f-table {
      line-height: calc(1rem - 5px); }
    .table-card .f-table .foo-esp_col .resp_ft, .table-card .f-table-last .foo-esp_col .resp_ft {
      line-height: 1rem; }
      .table-card .f-table .foo-esp_col .resp_ft .ic-msg, .table-card .f-table-last .foo-esp_col .resp_ft .ic-msg {
        font-size: 1rem;
        position: relative;
        top: calc(1rem - 11px); }
  .table-card .f-table .activar-destacado, .table-card .f-table-last .activar-destacado {
    display: flex; }
.table-card .f-table {
  border-bottom: 1px solid #F0F4F7; }

.table-card-det .titulo-det {
  color: #797D80;
  font-family: "Roboto";
  font-size: 2.25rem;
  line-height: calc(3rem - 6px);
  font-weight: 500;
  margin-top: calc(1rem - 6px); }
.table-card-det .status_f-table {
  display: none;
  margin-bottom: 1rem; }
  .table-card-det .status_f-table:hover {
    cursor: pointer;
    background: #3D93CC; }
    .table-card-det .status_f-table:hover .status_ft {
      font-weight: 600 !important; }
.table-card-det .f-card-det {
  padding: calc(1rem - 4px) 2rem calc(1rem - 4px) 2rem;
  width: 62.25rem; }
  .table-card-det .f-card-det .cont-det {
    padding: 0 calc(7rem - 4px) 0 calc(2rem + 6px); }
    .table-card-det .f-card-det .cont-det .img-ec-det {
      height: calc(3rem - 6px);
      width: calc(3rem - 6px);
      border-radius: 50rem;
      box-shadow: 1px 1px 2px rgba(92, 98, 102, 0.32); }
    .table-card-det .f-card-det .cont-det .name_ft {
      margin-left: calc(1rem - 5px); }
      .table-card-det .f-card-det .cont-det .name_ft .coment_ft {
        margin-left: 1rem; }
    .table-card-det .f-card-det .cont-det .ic-edit:hover {
      color: #5CAEE6; }
    .table-card-det .f-card-det .cont-det .ic-del:hover {
      color: #ed1c16; }
    .table-card-det .f-card-det .cont-det .txt-desc-det {
      margin: 1rem 0 calc(2rem - 8px) 0;
      padding-left: calc(2rem - 4px);
      color: #797D80;
      font-family: "Roboto";
      font-size: 0.87rem;
      line-height: calc(1rem - 2px);
      font-weight: 400; }
    .table-card-det .f-card-det .cont-det .foo-esp_col-det {
      padding-left: calc(2rem - 4px); }
      .table-card-det .f-card-det .cont-det .foo-esp_col-det .like-ft {
        color: #797D80;
        font-family: "Roboto";
        font-size: 0.75rem;
        line-height: calc(1rem - 2px);
        text-align: center; }
.table-card-det .activar-destacado {
  display: flex; }

.card-datos .info_datos, .card-datos .datos_user {
  color: #AAAFB3;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: calc(1rem + 3px);
  font-weight: 400; }

.card-anuncio .card_footer .tipo_anuncio1, .card-anuncio .card_footer .tipo_anuncio2 {
  font-family: "Roboto";
  font-size: 0.75rem;
  font-weight: 500;
  line-height: calc(1rem - 2px); }

.card_noticia-detalle .header-titulo, .card_noticia-detalle .header-img, .card_noticia-detalle .header-img .img-detalle {
  position: relative;
  top: 0;
  width: 34rem;
  height: 31.85rem; }

.table-card .f-table .foo-esp_col .coment_f-table, .table-card .f-table-last .foo-esp_col .coment_f-table, .table-card .f-table .foo-esp_col .resp_ft, .table-card .f-table-last .foo-esp_col .resp_ft, .table-card-det .f-card-det .cont-det .name_ft .coment_ft {
  color: #797D80;
  font-family: "Roboto";
  font-size: 0.75rem; }

.table-card, .table-card-det {
  list-style-type: none;
  margin: 2rem auto 1rem auto;
  padding: calc(1rem - 4px) 0 0 0;
  background: #fff;
  border: 1px solid #F0F4F7;
  border-radius: 1rem;
  box-shadow: 0 0 1px 0 rgba(170, 175, 179, 0.72);
  width: 62.25rem; }

.table-card .f-table .status_f-table, .table-card .f-table-last .status_f-table, .table-card-det .status_f-table {
  border-radius: 1rem;
  background-color: #5CAEE6;
  float: right;
  width: 4.5rem;
  height: 1.125rem;
  position: relative;
  top: 0.1rem; }
  .table-card .f-table .status_f-table .status_ft, .table-card .f-table-last .status_f-table .status_ft, .table-card-det .status_f-table .status_ft {
    color: #fff;
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: calc(1rem - 5px);
    font-weight: 400;
    text-align: center;
    margin: auto calc(1rem - 8px);
    position: relative;
    top: calc(1rem - 15px); }

.table-card .f-table .foo-esp_col .name_ft, .table-card .f-table-last .foo-esp_col .name_ft, .table-card-det .f-card-det .cont-det .name_ft {
  color: #5C6266;
  font-family: "Roboto";
  font-size: 0.75rem;
  line-height: calc(1rem - 2px);
  font-weight: bold; }

.table-card-det .f-card-det .cont-det .ic-edit, .table-card-det .f-card-det .cont-det .ic-del {
  font-size: 1.125rem;
  color: #000;
  position: relative;
  top: .6rem;
  opacity: .7; }

.rank-table {
  display: block;
  width: 32.5vw;
  margin: 0 calc(1rem + 7px); }
  .rank-table thead {
    border-bottom: 1px solid #DAE1E6; }
    .rank-table thead th {
      color: #AAAFB3; }
      .rank-table thead th:first-child {
        padding-right: calc(2rem - 4px); }
      .rank-table thead th:nth-child(3) {
        padding: 0 calc(4rem - 15px); }
      .rank-table thead th:nth-child(5) {
        padding: 0 calc(1rem - 1px); }
      .rank-table thead th:last-child {
        padding-left: calc(1rem - 6px); }
  .rank-table tbody tr {
    color: #5CAEE6;
    cursor: default; }
    .rank-table tbody tr td {
      padding: calc(1rem - 6px) 0; }
      .rank-table tbody tr td:first-child {
        font-family: "Roboto";
        font-size: 1.5rem;
        font-weight: 500;
        line-height: calc(2rem - 4px);
        text-align: left;
        position: relative;
        left: calc(1rem + 8px); }
      .rank-table tbody tr td:nth-child(2) .up {
        width: 2.5vw;
        height: 5vh;
        position: relative;
        left: 0rem;
        border-radius: calc(3rem + 4px); }
      .rank-table tbody tr td:last-child .level {
        color: #CFE65C;
        font-size: calc(1rem - 4px);
        padding-left: calc(1rem - 4px); }
    .rank-table tbody tr:hover {
      color: #fff;
      background: rgba(92, 174, 230, 0.7); }
  .rank-table tbody .me-i {
    color: #000;
    background: rgba(207, 230, 92, 0.7); }
    .rank-table tbody .me-i:hover {
      color: #000;
      background: rgba(207, 230, 92, 0.7); }
    .rank-table tbody .me-i td:last-child .level {
      color: #5CAEE6 !important;
      font-size: calc(1rem - 4px);
      padding-left: calc(1rem - 4px); }

.rank-table thead th, .rank-table tbody tr td:nth-child(3), .rank-table tbody tr td:nth-child(4), .rank-table tbody tr td:nth-child(5) {
  font-family: "Roboto";
  font-size: 0.87rem;
  line-height: 1rem;
  font-weight: 400; }

.num_preg {
  color: #797D80;
  font-family: "Roboto";
  font-size: 3rem;
  line-height: 3.5625rem;
  text-align: center;
  position: relative;
  top: -.5rem; }

.progress-bar_eval {
  background: #CFE65C; }

.enun_eval {
  color: #9B9B9B;
  font-family: "Open Sans";
  line-height: 1.5rem;
  font-size: 1.125rem;
  text-align: justify;
  margin-top: .25rem; }

.pdg {
  padding-left: 4.575rem; }

.opc {
  width: 26.5rem;
  height: 3rem;
  border: 0.125rem solid #DAE1E6;
  transition: all .25s ease; }
  .opc:hover {
    border: 0.125rem solid #80CCFF; }
  .opc .opc_letra {
    height: 2.9rem;
    width: 3.30rem;
    background: #80CCFF;
    border-radius: calc(1rem - 8px) 0 0 calc(1rem - 8px);
    padding: 0;
    position: relative;
    top: -.075rem;
    left: -.05rem;
    display: inline-block; }
    .opc .opc_letra .opc_l {
      line-height: calc($h2-font-size + 4px);
      font-size: 2rem;
      font-family: "Roboto";
      color: #797D80;
      text-align: center;
      position: relative;
      top: -.2rem; }
  .opc .opc_resp {
    display: inline-block;
    position: relative;
    margin: calc(1rem - 2px) 0;
    top: -.4rem; }
    .opc .opc_resp .opc_r {
      color: #AAAFB3;
      padding-left: calc(1rem + 1.85px);
      font-family: "Roboto";
      font-size: 1.125rem;
      line-height: calc($h4-font-size - 3px); }

.opc_activa {
  border: 0.125rem solid #CFE65C !important; }
  .opc_activa .opc_letra {
    background: #CFE65C; }

.opc_img {
  width: calc($tam-width + .3125rem);
  height: calc($tam-height+ .5rem); }
  .opc_img .opc_i-3 {
    width: 25vw;
    height: 37.9vh; }
  .opc_img .opc_i-4 {
    width: 18.1vw;
    height: 37.9vh; }

.opc_activa-img {
  border: 0.1875rem solid #CFE65C !important; }

.mgn {
  margin: .5rem 0; }

.opc_lado-a {
  width: 18.75rem;
  height: 3.75rem;
  position: relative;
  left: 15rem; }

.opc_lado-b {
  width: 18.75rem;
  height: 3.75rem; }
  .opc_lado-b .opc_rb {
    margin-left: -1rem; }
  .opc_lado-b:hover .opc_rb {
    color: #fff; }

.titulo-resul {
  color: #5CAEE6;
  font-family: "Roboto";
  font-size: calc($h1-font-size - 4px);
  line-height: calc($h1-font-size + 7px);
  margin-top: 3rem; }

.ic-resul {
  font-size: 8.25rem;
  color: #5CAEE6;
  margin-top: calc(2rem - 7px); }

.alreves {
  transform: scaleX(-1) rotate(5deg); }

.txt-resul {
  font-family: "Open Sans";
  font-size: 1.5rem;
  line-height: calc(2rem + 1px);
  margin: calc(2rem - 1px) 0 calc(4rem + 4px) 0; }

.mostrar-resul {
  background: #fff;
  padding-top: calc(6rem - 6px);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  overflow-x: hidden !important;
  width: 98.78vw;
  position: relative;
  left: -1rem; }
  .mostrar-resul .calif {
    left: 6rem; }
  .mostrar-resul .logro {
    left: -4rem; }
    .mostrar-resul .logro .num .unidad {
      color: #5CAEE6;
      font-family: "Roboto";
      font-size: 1.5rem;
      line-height: calc(2rem - 4px);
      margin-left: calc(1rem - 8px); }
  .mostrar-resul .anun-resul {
    margin: calc(2rem + 4px) 0 calc(1rem + 4px) 0;
    color: #9B9B9B;
    font-family: "Open Sans";
    font-size: 1.125rem;
    line-height: calc(2rem - 8px); }
  .mostrar-resul .resp-eval {
    position: relative;
    left: 13vw;
    margin-bottom: calc(4rem + 4px); }
    .mostrar-resul .resp-eval li {
      list-style-type: none;
      position: relative; }
      .mostrar-resul .resp-eval li .preg-aprob {
        border: .125rem solid;
        border-color: #CFE65C; }
        .mostrar-resul .resp-eval li .preg-aprob .preg_num-aprob {
          background: #CFE65C; }
      .mostrar-resul .resp-eval li .preg-reprob {
        border: .125rem solid;
        border-color: #ed1c16; }
        .mostrar-resul .resp-eval li .preg-reprob .preg_num-reprob {
          background: #ed1c16; }
          .mostrar-resul .resp-eval li .preg-reprob .preg_num-reprob .preg_n {
            color: #fff !important; }

.opc, .mostrar-resul .resp-eval li .preg-aprob, .mostrar-resul .resp-eval li .preg-reprob {
  background: #fff;
  border-radius: calc(1rem - 8px);
  display: inline-block;
  cursor: pointer;
  margin: .35rem 0; }

.opc_lado-a, .opc_lado-b {
  border-radius: calc(1rem - 8px);
  display: inline-block;
  cursor: pointer;
  margin: .35rem 0;
  transition: all .25s ease; }

.opc_lado-a {
  background: #fff;
  border: 0.125rem solid #DAE1E6; }
  .opc_lado-a:hover {
    border: 0.125rem solid #80CCFF; }

.opc_lado-b {
  background: #DAE1E6;
  border: 0.125rem solid #DAE1E6; }
  .opc_lado-b:hover {
    border: 0.125rem solid #80CCFF;
    background: #80CCFF; }

.opc_lado-a .opc_ra, .opc_lado-b .opc_rb {
  color: #AAAFB3;
  padding-left: calc(1rem + 1.85px);
  font-family: "Roboto";
  font-size: 2.25rem;
  line-height: calc($h2-font-size + 6px); }

.opc_img {
  border: 0.1875rem solid #DAE1E6;
  border-radius: calc(1rem - 8px);
  cursor: pointer;
  position: relative;
  z-index: 1; }
  .opc_img:hover {
    border: 0.1875rem solid #80CCFF; }

.opc_img .opc_i-3, .opc_img .opc_i-4 {
  border-radius: calc(1rem - 10px); }

.mostrar-resul .calif, .mostrar-resul .logro {
  font-family: "Roboto";
  font-size: 2rem;
  line-height: calc(2rem + 6px);
  margin-right: calc(3rem + 7px);
  color: #AAAFB3;
  position: relative; }

.mostrar-resul .resp-eval li .preg-aprob, .mostrar-resul .resp-eval li .preg-reprob {
  width: 52vw;
  height: 8vh; }

.mostrar-resul .calif .num, .mostrar-resul .logro .num {
  color: #5CAEE6;
  font-family: "Roboto";
  font-size: 2rem;
  line-height: calc(2rem + 6px);
  position: relative;
  left: calc(1rem + 7px);
  top: .05rem; }

.mostrar-resul .resp-eval li .preg-aprob .preg_num-aprob, .mostrar-resul .resp-eval li .preg-reprob .preg_num-reprob {
  height: 7.5vh;
  width: 4vw;
  border-radius: calc(1rem - 8px) 0 0 calc(1rem - 8px);
  padding: 0;
  position: relative;
  top: 0;
  left: -.2rem;
  display: inline-block; }
  .mostrar-resul .resp-eval li .preg-aprob .preg_num-aprob .preg_n, .mostrar-resul .resp-eval li .preg-reprob .preg_num-reprob .preg_n {
    line-height: calc($h2-font-size + 4px);
    font-size: 2rem;
    font-family: "Roboto";
    color: #797D80;
    text-align: center;
    position: relative;
    top: 0; }

.mostrar-resul .resp-eval li .preg-aprob .preg_enun, .mostrar-resul .resp-eval li .preg-reprob .preg_enun {
  display: inline-block;
  position: relative;
  margin: calc(1rem - 2px) 0;
  top: -.25rem; }
  .mostrar-resul .resp-eval li .preg-aprob .preg_enun .preg_e, .mostrar-resul .resp-eval li .preg-reprob .preg_enun .preg_e {
    color: #AAAFB3;
    padding-left: calc(1rem + 1.85px);
    font-family: "Roboto";
    font-size: 1.125rem;
    line-height: calc($h4-font-size - 3px); }

#comments {
  background-color: #F7FAFC;
  height: 100vh;
  width: 400px;
  position: fixed;
  top: 79px;
  right: -400px;
  padding: 64px 24px 128px 24px;
  transition: .8s ease;
  overflow-y: scroll;
  z-index: 6; }
  @media (max-width: 991.98px) {
    #comments {
      top: 70px; } }
  #comments.open-comments {
    right: 0%; }
  #comments textarea {
    border-radius: 8px;
    border-width: 2px;
    height: 150px;
    padding: 12px;
    font-size: 14px;
    font-family: Roboto; }
  #comments .comment {
    margin: 32px 24px;
    background-color: white;
    padding: 16px;
    border-radius: 16px; }
    #comments .comment p {
      font-size: 12px;
      color: #5C6266; }
  #comments #respuesta {
    width: 240px;
    height: 40px;
    padding: 8px; }
  #comments .replied {
    margin: 0;
    padding: 16px 0;
    border-top: solid 1px #DAE1E6;
    border-radius: 0; }

#iconComments i:hover {
  color: #CFE65C; }

.subtitulo-recurso {
  color: #797D80;
  font-family: "Roboto";
  font-size: 2.25rem;
  line-height: calc(3rem - 6px); }

.biblio_detalle-recurso {
  padding: 2rem; }
  .biblio_detalle-recurso .img-recurso {
    box-sizing: border-box;
    height: 29rem;
    width: 18rem;
    border: 1px solid #565656; }
  .biblio_detalle-recurso .text-recurso {
    color: #797D80;
    font-family: "Roboto";
    font-size: 0.87rem;
    line-height: calc(2rem - 4px);
    margin: calc(2rem + 3px) 0; }
  .biblio_detalle-recurso .lk-volver {
    position: relative;
    top: calc(2rem + 3px);
    right: 1.5rem;
    color: #5CAEE6;
    font-family: "Roboto";
    font-size: 0.87rem;
    line-height: 1rem;
    padding: 1rem 1rem;
    border-radius: 25rem; }
    .biblio_detalle-recurso .lk-volver:hover {
      color: #fff;
      background: linear-gradient(to right, #80CCFF 0%, #3D93CC 100%);
      font-weight: 500; }
    .biblio_detalle-recurso .lk-volver .ic-bck {
      position: relative;
      top: .45rem;
      right: .5rem; }
  .biblio_detalle-recurso .biblio_detalle-catag {
    padding: 0 2rem;
    margin-top: 2rem; }

.enun_faqs.active, .enun_faqs.active + p {
  background: #F0F4F7;
  padding: 0 calc(2rem + 3px); }

.accordion {
  max-width: 49.25rem;
  margin: calc(2rem + 3px) auto calc(1rem + 4px) auto;
  list-style-type: none; }
  .accordion li {
    position: relative;
    max-height: 64rem;
    border-bottom: 1px solid #DAE1E6;
    padding: calc(2rem - 4px) 0 calc(2rem - 7px) 0; }
    .accordion li p {
      display: none; }
  .accordion .enun_faqs {
    width: 100%;
    display: block;
    cursor: pointer;
    color: #797D80;
    font-weight: 600;
    line-height: calc(1rem + 8px);
    font-family: "Roboto";
    font-size: 16px;
    font-size: 1rem;
    user-select: none;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .accordion .enun_faqs:after {
      width: calc(1rem - 4px);
      height: calc(1rem - 4px);
      border-right: 2px solid #9B9B9B;
      border-bottom: 2px solid #9B9B9B;
      position: absolute;
      right: calc(1rem - 1px);
      content: " ";
      top: calc(3rem - 4px);
      transform: rotate(-45deg);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .accordion .enun_faqs .num {
      margin-right: calc(1rem + 4px); }
  .accordion p {
    font-size: 16px;
    font-size: 1rem;
    line-height: calc(1rem + 8px);
    color: #797D80;
    text-align: justify;
    font-family: "Roboto"; }

.enun_faqs.active {
  border-radius: 1rem 1rem 0 0; }

.enun_faqs.active + p {
  border-radius: 0 0 1rem 1rem;
  padding-bottom: calc(2rem + 3px); }

.enun_faqs.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.titulo_faqs {
  color: #5CAEE6;
  font-family: "Roboto";
  font-size: 2.25rem;
  font-weight: 300;
  line-height: calc(3rem - 6px); }

.subtitulo_faqs {
  color: #797D80;
  font-family: "Roboto";
  font-size: 1.5rem;
  line-height: calc(2rem - 4px);
  font-weight: 400; }

#percent {
  transform: translateX(35%); }

#grey {
  stroke-dasharray: 1016 1018;
  stroke: #DAE1E6; }

.progress-bar {
  stroke: #CFE65C;
  stroke-dasharray: 1016 1018;
  /* stroke-dashoffset:1017; */
  animation: ani-progress 3s ease 0.2s forwards; }

@keyframes ani-progress {
  0% {
    stroke-dashoffset: 1017; } }
.titulo-ec {
  color: #797D80;
  font-family: "Roboto";
  font-size: 2.25rem;
  line-height: calc(3rem - 6px);
  font-weight: 500; }

.esp_col {
  margin: 1rem calc(5rem - 6px);
  width: 62.25rem; }
  .esp_col .btn-nw-tema {
    width: 10rem;
    padding: calc(1rem - 8px) 0;
    color: #F0F4F7;
    font-family: "Roboto";
    font-size: calc($p-font-size - 2px);
    font-weight: 600;
    line-height: calc(1rem + 3px);
    text-align: center; }

/*# sourceMappingURL=main.css.map */
