//  estilos para los Forms

label{
    color: $gray-700;
}

.form-control::placeholder{
    color: $gray-400;
}

input.form-control{
    border: solid 2px  $gray-400;
    border-radius: 8px;
    padding-left: 1rem;
}

input.form-control:focus{
    outline: none;
    border: solid 2px  $lightblue;
    border-radius: 8px;
    box-shadow: none;
}
