 <!-- Modal Soporte virtual Success-->
        <div class="modal modalSuccess" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row align-items-end justify-content-end">
                    <div class="col-auto text-center">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-6 justify-content-center">
                    <div class="col-auto text-center">
                        <div class="check_mark">
                            <div class="sa-icon sa-success animate">
                                <span class="sa-line sa-tip animateSuccessTip"></span>
                                <span class="sa-line sa-long animateSuccessLong"></span>
                                <div class="sa-placeholder"></div>
                                <div class="sa-fix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-6 justify-content-center">
                    <div class="col-10 col-md-10 col-sm-10 col-lg-10 col-xl-10 text-center">
                        <h3 class="msgText">Su mensaje fue enviado a nuestro equipo de soporte.</h3>
                    </div>
                </div>
                <div class="row mt-6 align-items-end justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <button href="#" class="btn btn-primary btn-Cs" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Soporte virtual Error-->
        <div class="modal modalWrong" id="modalWrong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="container-fluid">
                <div class="row align-items-end justify-content-end">
                    <div class="col-auto text-center">
                        <a class="close btn_close_modal" data-dismiss="modal" aria-label="Close">
                            <span class="material-icons ic-close-white" aria-hidden="true">close</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-6 justify-content-center">
                    <div class="col-auto text-center">
                        <div class="wrong_mark">
                            <div class="sa-icon sa-error animate">
                                <span class="sa-line sa-tip animateSuccessTip"></span>
                                <span class="sa-line sa-long animateSuccessLong"></span>
                                <div class="sa-placeholder"></div>
                                <div class="sa-fix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-6 justify-content-center">
                    <div class="col-10 col-md-10 col-sm-10 col-lg-10 col-xl-10 text-center">
                        <h3 class="msgText">Su mensaje no fue enviado, por favor intente más tarde.</h3>
                    </div>
                </div>
                <div class="row mt-6 align-items-end justify-content-center">
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8 col-lg-8 col-xl-8 text-center">
                        <button href="#" class="btn btn-danger btn-Cs" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>