<div class="d-flex flex-column">
    <div class="wrapperDdNotify" >
        <a href="#" id="notify" title="{{ 'Notificaciones'|trans }} " data-toggle="tooltip" data-placement="bottom">
            <div class="notify">
                <i class="material-icons mr-3 color-light-grey" data-toggle="modal" data-placement="bottom" >notifications</i>
                <div class="sonar" id="sonar" style="display: none;"></div>
            </div>
        </a>
        <span class="markNotify"></span>
        <ul class="dropDownNotify" id="noti" >
            
        </ul>
    </div>
</div>