.constancia{
    padding: 2rem 0;
    .imgConst{
        width: 25rem;
        height: auto;
    }
    .tituloConst{
        color: $blue;
        font-size: $h2-font-size;
        font-weight: $font-weight-normal;
        line-height: 2rem;
    }
    .datosParticipante{
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
        background: $gray-100;
        .tituloPart{
            @extend %title;
            font-size: $h5-font-size;
        }
    }
    .textConst{
        color: $gray-900;
        font-size: $h4-font-size;
        font-weight: $font-weight-normal;
        line-height: 2rem;
        padding: 1rem;
    }
    .tituloPart{
        padding: 1rem;
        @extend %title;
        font-size: $h5-font-size;
    }
    
    &__img{
        width: 15rem;
        height: auto;
    }
    &__titulo{
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 1rem 1rem 0 0;
        background: $blue;
        span{
            @extend %title;
            font-size: $h3-font-size;
            color: $white !important;
        }
    }
    &__contenido{
        text-indent: 5%;
        padding: 1rem 0;
        span{
            @extend %title;
            font-size: $h4-font-size;
        }
    }
}

.constancia__contenido--bckgI{
    background: $gray-200;
}

.constancia__contenido--bckgP{
    background: $gray-400;
}
//Extend
%title{
    color: $gray-800;
    font-weight: $font-weight-normal;
    line-height: 2rem;
}