.mt-25v{
    margin-top: 25vh;
    @include media-breakpoint-down(sm) {
        margin-top: 0;
     }
 }

.mt-12v{
    margin-top: 12vh;
    @include media-breakpoint-down(sm) {
        margin-top: 0;
    }
}

.color-light-grey { color: $gray-500; }
.color-grey { color: $gray-700; }
.color-dark-grey { color: $gray-800; }
.bg-white { background-color: $white; }
.text-sm { font-size: $font-size-sm; }

.hidden-nav-content {
    opacity: 0;
    transform: translateX(50%);
    overflow: hidden;
}

a.active-line {
    border-bottom: 3px solid $green;
}

.rotate-180 {
    transform: rotate(180deg);
}

.sub-line {
    border-bottom: 1px solid $gray-400;

}
