.login-cover{
    background-image: url(../../../assets/img/login_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    min-height: 100vh;



}

.sloganLogin{
    color: $bluedark;
    font-weight: $font-weight-normal;
}

a.links{
    &:focus{
        outline: none !important;
    }
}

a{
    &:focus, &:active, &:target, &:checked{
        outline: none !important;
    }
}