.login-cover{
    background-image: url(../../../assets/img/login_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    min-height: 100vh;



}

.sloganLogin{
    color: $bluedark;
    font-weight: $font-weight-normal;
}

a.links{
    &:focus{
        outline: none !important;
    }
}

a{
    &:focus, &:active, &:target, &:checked{
        outline: none !important;
    }
}

.imgLogin{
    @include media-breakpoint-down(xs){
        width: 13rem;
        margin: 1.5rem auto !important;
        position: relative;
        left: 0;
        transform: translateX(-25%);
    }
}

.pnlogin{
    @include media-breakpoint-down(xs){
        .titleLogin, .txtLogin{
            width: 13rem;
            margin: 1rem auto !important;
            position: relative;
            left: 0;
            transform: translateX(-32.5%);
        }
        .userLogin, .pwdLogin{
            width: 15rem;
            position: relative;
            left: 0;
            transform: translateX(-45%);
        }
        .checkLogin{
            width: 15rem;
            margin: 0 auto !important;
            position: relative;
            left: 0;
            transform: translateX(-45%);
        }
        .btnLogin{
            transform: translateX(-45%);
            margin: 1rem auto !important;
        }
        .recupLogin{
            width: 15rem;
            margin: 1rem auto !important;
            white-space: nowrap;
            transform: translateX(-40%);
        }
    }
}