/* mapa de progreso */

#percent {
	transform: translate(-51px,-79px);
}

.goal {
	fill: #cfe65c;
	transition: 1s;
}

.progress-bar {
	stroke-dasharray:1016 1018;
	/* stroke-dashoffset:1017; */
	animation: ani-progress 3s linear 0.2s forwards;
	}

@keyframes ani-progress {
	0% { stroke-dashoffset:1017; }
}
