.box-pag{
    height: 3rem;
    width: 22rem;
    border: 2px solid $gray-400;	
    border-radius: calc(2rem - 4px);	
    background-color: transparent;
    .pag{
        margin: 0;
        padding: 0;
        list-style-type: none;
        .pag-item{
            color: $blue;	
            font-family: $primary-font;	
            font-size: $p-font-size;	
            font-weight: $font-weight-normal-hard;	
            line-height: calc(1rem + 5px);
            border: 2px solid $gray-400;
            &:first-child, &:last-child{
                padding: calc(1rem - 3px) calc(1rem + 2px) calc(1rem - 4px) calc(1rem + 2px);
            }
            &:nth-child(n){
                padding: calc(1rem - 3px) calc(1rem - 3px) calc(1rem - 4px) calc(1rem - 3px);
                border: 2px solid $gray-400;
            }
        }
    }
}

/* Page Navigation */
#jquery-tab-pager-navi {
    height: 3rem;
    width: auto;
    border: 2px solid $gray-400;	
    border-radius: calc(2rem - 4px);	
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    li {
        margin: 0;
        padding: calc(1rem - 6px) 1rem;
        position: relative;
        left: 0;
        list-style-type: none;
        &:last-child{
            border-radius: 0 calc(2rem - 4px) calc(2rem - 4px) 0;
            border-left: 1px solid $gray-400; 
        }
        &:first-child{
            border-radius: calc(2rem - 4px) 0 0 calc(2rem - 4px);
            border-right: 1px solid $gray-400;
        }
        &:nth-child(n){
            border: 1px solid $gray-400;
        }
        &:hover{
            background: $blue;
            a{
                color: $white;
            }
        }
        a {
            color: $blue;
            font-family: $primary-font;	
            font-size: $p-font-size;	
            font-weight: $font-weight-normal-hard;	
            line-height: calc(1rem + 5px);
        }
        a.current, a.disable{
            color: $gray-700;
        }
    }
}


.rowDimension{
    width: 65rem;
    padding: 0 auto;
}
.rowDimension2{
    width: 65rem;
    padding: 0 auto;
}

//Extend
%pag-pg{
    padding: 0 calc(1rem + 2px) 0 calc(1rem + 2px);
}
/*#jquery-tab-pager-navi li:last-child a {
    margin-right: 0px;
}

#jquery-tab-pager-navi li a.current,
#jquery-tab-pager-navi li a.disable,
#jquery-tab-pager-navi li a:hover {
    background: #ebebeb;
    color: #000;
}*/