.main-sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1031;
    top: 70px;
    left: 0;
    background-color: $bluedarkest;
    overflow: auto;
    transition: 0.6s;
    padding-top: 30px;
    &::-webkit-scrollbar {
        width: calc(1rem - 12px);
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-600;
        outline: 1px solid $gray-850;
    }
    &:hover{
        // overflow: auto;
    }
    @include media-breakpoint-only(sm){
        width: 40px;
    }
    @include media-breakpoint-down(xs){
        width: 40px;
    }
}

.main-sidenav-open{
    width: 200px;
}

#mainSidenav.main-sidenav-close{
    width: 40px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: calc(1rem - 12px);
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-600;
        outline: 1px solid $gray-850;
    }
    a{
        padding-left: 8px;
    }
    @include media-breakpoint-down(sm){
        width: 12rem;
        a{
            padding-left: 2rem;
        }
    }
    @include media-breakpoint-down(xs){
        width: 19.5rem;
        a{
            padding-left: 4rem;
        }
    }
}

#main.ml-10{
    margin-left: 9%;
    @include media-breakpoint-down(sm){
        margin-left: 20%;
    }
    @include media-breakpoint-down(xs){
        margin-left: 3%;
    }
 }
 #main.ml-comments{
     margin-left: -8%;
     @include media-breakpoint-only(lg) {
         margin-left: 0;
         margin-right: 38%;
     }
     @include media-breakpoint-down(sm){
         margin-left: 0%;
     }
  }



i.arrow {
    height: 12px;
    width: 12px;
    border: solid $gray-500;
    border-width: 0 4px 4px 0;
    border-radius: 2px;
    display: inline-block;
    padding: 4px;
    transition: .3s;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    @include media-breakpoint-down(sm){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: relative;
        left: 0rem;
        top: calc(1rem - 10);
    }
    @include media-breakpoint-down(xs){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}


.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    @include media-breakpoint-down(sm){
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    @include media-breakpoint-down(xs){
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

.main-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    @include media-breakpoint-down(sm){
        padding: 8px;
    }
    @include media-breakpoint-down(xs){
        padding: 8px;
    }
}

.main-sidenav a:hover {
    color: $white;

    i.arrow {
        border-color: $green;
    }
}

.main-sidenav .closebtn {
    position: absolute;
    top: 16px;
    right: 0px;
    margin-left: 50px;
}

a.active {
    color: $green;
}


.nav-lesson {
    top: 71px;
    width: 240px;
    font-family: $primary-font;
    padding-bottom: 136px;
    @include media-breakpoint-down(md) {
        top: 68px;
    }


    ol {

        margin-bottom: 16px;

        &>li {
            margin: 1.5rem  auto 8px;
            color: $gray-600;
        }


        a {
            padding: 0;
            font-size: $font-size-sm;
            margin: .8rem auto;



            i {
                font-size: 6px;
                margin: 8px;
            }
        }
    }
    .ul-items {

        list-style: disc;
        padding-left: 8px;
        margin-right: 16px;

        li {
            text-indent: 0.2em;
            padding-left: 0rem;
            color: $gray-600;

            span {

                a {
                    display: inline-block;
                }
            }
        }
        .liItemsAprob{
            position: relative;
            left: -2rem;
            padding-left: 0;
            list-style: none;
            a{
                color: $green !important;
                i{
                    font-size: .8rem;
                    position: relative;
                    left: -.1rem;
                    top: .05rem;
                }
            }
        }
    }
    
    .ol-itemsAprob{
        .itemsAprob{
            color: $green !important;
            a{
                color: $green !important;
            }
        }
    }
}

.nav-lesson #pills-tabContent{
    transition: all .5s ease;
    width: 240px;
    max-height: 1000px;
}

.lesson-pending {
    color: $gray-500 !important;
}
